@import 'variables';

@import './vendors/bootstrap/variables';
@import './vendors/bootstrap/mixins';

@import './mixins/mixins';


// Base
@import './base/scaffolding';
@import './base/typography';
@import './base/buttons';
@import './base/page-content';
@import './base/forms';

// Header
@import './header/header';
@import './header/headermenu';
@import './header/notification';

@import './sidebar/sidebar';
@import './sidebar/navbar';

// Icon box
@import './iconbox/iconbox';


// Components
@import './components/kyc';
@import './components/circleicon';
@import './components/panel';
@import './components/appbar';
@import './components/table';
@import './components/coins';
@import './components/home';
// @import './components/custom';
@import './components/cryptocoins';
@import './components/cryptocoins-colors';
@import './components/style.bundle';
@import './components/vendor';
@import './components/withdraw';
@import './components/histories';
@import './components/historyitem';
@import './components/profile';
@import './components/banks';
@import './components/auth';
@import './components/captcha';
@import './components/depositwithdrawitem';
@import './components/buySellCoins';
@import 'components/verifyaccount';
@import 'components/s3upload';
@import 'components/buysell';
@import 'components/deposit';
@import 'components/referal';

// Charts
@import './charts/charts';

// Utilities
@import './utilities/utilities';



// Other pages
@import "./other-pages/login";

// Footer
@import './footer/footer';

@import './loaders.css/src/animations/line-scale.scss';

// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

@font-face {
  font-family: 'SF';
  src: url('../fonts/SF-Pro-Display-Regular.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'SF';
  src: url('../fonts/SF-Pro-Display-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'SF';
  src: url('../fonts/SF-Pro-Display-Semibold.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'SF';
  src: url('../fonts/SF-Pro-Display-Bold.otf');
  font-weight: 900;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Kastelov-Axiforma-Thin.otf') format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Kastelov-Axiforma-Light.otf') format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Kastelov-Axiforma-Book.otf') format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Kastelov-Axiforma-Regular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Kastelov-Axiforma-SemiBold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Kastelov-Axiforma-Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Kastelov-Axiforma-ExtraBold.otf') format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Kastelov-Axiforma-Black.otf') format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.otf') format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.otf') format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.otf') format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto-Condensed.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto-BoldCondensed.otf') format("opentype");
    font-weight: 700;
}

#root {
    height: 100%;

    > div {
      height: 100%;
    }
  }

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.center-text {
  text-align: center;
}

.color-danger {
  color: $color-danger;
}

.bold {
  font-weight: bold;
}

.smaller-text {
  font-size: 12px;
}

.muted {
  color: $color-grey-darker !important;
}

.bg-muted {
  background-color: $color-grey-lighter !important;
}

.color-success {
  color: $color-success;
}

.box-header {
  background-color: $color-primary;
  padding: 10px;
}

.box-body {
  padding: 10px;
  background-color: #fff;
}

.color-white {
  color: #fff;
}

.color-red {
  color: red;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #535151!important;
  font-weight: 900!important;
  background-color: #fff0!important;
  border-color: #eceeef00 #eceeef00 #0275d8 #ddd0!important ;
}

.transactions-main-container{
  display: inline-flex;
}

.notification-title {
  font-size: 18px !important;
}

.notification-body {
  font-weight: normal !important;
  font-size: 14px !important;
}

.btn{
  cursor: pointer;
}

.btn-back{
  color: #383838;
  border-color: #383838;
  cursor: pointer;
}

.btn-back:hover{
  color: #ffffff;
  background-color: #202e47;
  border-color: #202e47;
}

.wizard-steps {
    display: flex;
    flex-direction: row;
}

.wizard-item {
    padding: 15px
}

.wizard-item > span {
    font-size: 20px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
//   padding: px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50% !important;
}

.btn-primary {
    color: #fff;
    background-color: #428bca !important;
    border-color: #357ebd !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center !important;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-default {
    color: #333;
    background-color: #fff !important;
    border-color: #ccc !important;
}

.is-link {
    cursor: pointer !important;
    color: $color-primary !important;
}

@media (max-width: 450px) {
    .success-kyc-text {
        margin-left: 10%;
    }
}

@media (min-width: 1024px) {
    .success-kyc-text {
        margin-left: 15%;
    }
}

.success-image {
    width: 40%;
    margin-left: 30%;
}

.modal{
    background: rgba(0, 0, 0, .75)
}

.btn-primary {
    color: #fff;
    background-color: #5867dd !important;
    border-color: #5867dd !important;
}

.modal-header > h4 {
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
    font-size: 20px;
    font-weight: 500;
}

.m-widget11 .table tbody>tr .m-widget11__title {
    color: #575962;
}

.m-widget11 .table tbody>tr .m-widget11__sub {
    display: block;
    font-size: .85rem;
}

.force-email-login-link {
    cursor: pointer !important;
    color: #007ea4 !important;
}

.force-email-login-link:hover {
    border-bottom: solid 1px #007ea4;
}

.col-form-label-required {
    width: 0.2px !important;
}

.m-card-user__name {
    color: black !important;
}

.user-profile-details-pending {
    background-color: #ffc107;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.resend-verification {
    margin-top: 20px;
    text-align: center;
    cursor: pointer !important;
}

.resend-verification:hover {
    border-bottom: solid 1px #aba5b6;
}

@media (max-width: 992px) {
  .m-aside-header-menu-mobile-close {
    right: -25px;
  }
  .m-aside-header-menu-mobile-open {
    right: 10px !important;
    width: 25px;
    height: 25px;
    top: 1px;
    z-index: 1002;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    outline: 0!important;
    text-align: center;
    vertical-align: center;
    display: none;
    display: inline-block;
  }
}

#m_header_menu {
  //margin-left: 30%;
  margin-left: 0%;
  width: 100%;
}

.Select-clear-zone {
  display: none !important;
}

.modal-content {
    margin-right: auto !important;
    margin-left: auto !important;
}

.tc-modal-body {
    background-color: #F5F7FA !important;
}

.tc-modal-body-deposit {
    background-color: #F5F7FA !important;
    padding: 0px !important;
}

.tc-modal-body-competition {
    background-color: #011D3B !important;
    color: #F5F7FA;
}

.tc-competition-mid {
    display: inline-flex;
    font-weight: 200;
    font-size: 14px;
}

.tc-modal-header-competition{
    background-color: #011D3B;
}

.tc-modal-title-competition{
    color: rgb(228, 213, 8) !important;
    // color: #fff !important;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}

.idr-winner {
    background-color: #181616;
    border-radius: 5px;
    opacity: 0.5;
    margin-top: 10px;
}

.img-winner-competition{
    width: 60%;
}

.top-title-competition{
    width: 500px;
    margin-right: 0;
    margin-left: 0;
    padding: 10px 0px;
    font-size: 18px;
    justify-content: center;
    border-top: 3px solid #29CCC4;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 3px solid #29CCC4;
}

@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.middle-winner-competition{
    width: 700px;
    margin: 20px;
    padding: 20px 0px;
}

.winner-span{
    background-image: linear-gradient(89deg,#00486A 0%, #29CCC4 100%);
    border-radius: 11px;
    border: none;
    color: #000;
    padding: 4px 26px 4px 26px;
    font-size: 11px;
    font-family: 'Roboto';
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: top;
    cursor: pointer;
}

.tc-modal-footer {
    background-color: #F5F7FA !important;
}

.close {
    color: #367EA1 !important;
}

.btn-outline-grey {
    color: grey;
    background-image: none;
    background-color: transparent;
    border-color: grey !important;
}

.input-square {
    border-radius: 0px !important;
}

.valid > .fa {
    color: #5eaf5d;
}

.invalid > .fa {
    color: red;
}

.form-password {
    display: flex;
    flex-direction: row;
}

.form-password > input {
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
}

.form-password i {
    align-self: center;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer !important;
}

.table-recents {
    font-size: 10px;
}

.refresh-recents {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
    cursor:  pointer !important;
}

.form-password {
    input {
        border-top-left-radius: 40px !important;
        border-bottom-left-radius: 40px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;

        color: rgb(85, 85, 85) !important;
        background-color: rgb(255, 255, 255) !important;
        background-image: none !important;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset !important;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: rgb(204, 204, 204) !important;
        border-image: initial !important;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    }

    .input-group-password {
        height: 72%;
        margin-top: 30% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        border-top-right-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
    }

    .input-group-append {
        cursor: pointer !important;
    }
}

.password-strength {
    background-color: white;
    padding: 15px;
    font-size: 9px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #ebedf2 !important;
    width: 92% !important;
    margin-top: 15px;
}

.input-group-password {
    background-color:white !important;
}

#m_login_signup {
    color: #007ea4 !important;
}


.tradesBuy-enter {
    opacity: 0.01;
}

.tradesBuy-enter.tradesBuy-enter-active {
    opacity: 1;
    animation-duration: 2s;
    transition: opacity 1000ms ease-in;
    -webkit-animation: fade-out-buy 2s ease-out both;
    animation: fade-out-buy 2s ease-out both;
    animation-delay: 500ms;
}

@-webkit-keyframes fade-out-buy {
    0% {
        // opacity: 1;
        background-color: rgba(26, 166, 74, 0.19);
        color: rgb(26, 166, 74);
    }
    100% {
        // opacity: 0;
    }
}

@keyframes fade-out-buy {
    0% {
        // opacity: 1;
        background-color: rgba(26, 166, 74, 0.19);
        color: rgb(26, 166, 74);
    }
    100% {
        // opacity: 0;
    }
}

.tradesBuy-leave {
    opacity: 1;
}

.tradesBuy-leave.tradesBuy-leave-active {
    opacity: 0.01;
    animation-duration: 2s;
    transition: opacity 1300ms ease-in;
}

.tradesSell-enter {
    opacity: 0.01;
}

.tradesSell-enter.tradesSell-enter-active {
    opacity: 1;
    animation-duration: 2s;
    transition: opacity 1000ms ease-in;
    -webkit-animation: fade-out 2s ease-out both;
    animation: fade-out 2s ease-out both;
    animation-delay: 500ms;
}

@-webkit-keyframes fade-out {
    0% {
        // opacity: 1;
        background-color: rgba(251, 175, 93, 0.45098039215686275);
        color: rgb(251, 175, 93);
    }
    100% {
        // opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        // opacity: 1;
        background-color: rgba(251, 175, 93, 0.45098039215686275);
        color: rgb(251, 175, 93);
    }
    100% {
        // opacity: 0;
    }
}

.tradesSell-leave {
    opacity: 1;
}

.tradesSell-leave.tradesSell-leave-active {
    display: none;
}

.flashingRatesUp-enter {
    opacity: 0;
}

.flashingRatesUp-enter.flashingRatesUp-enter-active {
    opacity: 1;
    animation:rateUp 2s 1;
    -webkit-animation:rateUp 2s 1; /* Safari and Chrome */
    transition: opacity 1000ms ease-in-out;
    text-align: center;
}

@keyframes rateUp
{
    0%      {color:#575962;}
    25%     {color:#1AA64A;}
    75%     {color:#1AA64A;}
    100%    {color:#575962;}
}

@-webkit-keyframes rateUp
{
    0%      {color:#575962;}
    25%     {color:#1AA64A;}
    75%     {color:#1AA64A;}
    100%    {color:#575962;}
}

.flashingRatesUp-leave {
    opacity: 0;
}

.flashingRatesUp-leave.flashingRatesUp-leave-active {
    // opacity: 0.01;
    // animation-duration: 1s;
    // animation: blinker 1s linear infinite;
    display: none;
}

.flashingRatesDown-enter {
    opacity: 0;
}

.flashingRatesDown-enter.flashingRatesDown-enter-active {
    opacity: 1;
    animation:rateDown 2s 1;
    -webkit-animation:rateDown 2s 1; /* Safari and Chrome */
    transition: opacity 1000ms ease-in-out;
    text-align: center;
}

@keyframes rateDown
{
    0%      {color:#575962;}
    25%     {color:#ff4a68;}
    75%     {color:#ff4a68;}
    100%    {color:#575962;}
}

@-webkit-keyframes rateDown
{
    0%      {color:#575962;}
    25%     {color:#ff4a68;}
    75%     {color:#ff4a68;}
    100%    {color:#575962;}
}

.flashingRatesDown-leave {
    opacity: 0;
}

.flashingRatesDown-leave.flashingRatesDown-leave-active {
    // opacity: 0.01;
    // animation-duration: 1s;
    // animation: blinker 1s linear infinite;
    display: none;
}

.progress-outer {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 15px !important;
    padding-bottom: -15px !important;
  }

.progress {
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.progress-bar {
  height: .15rem!important;
  background-color: #007ea4 !important
}

.progress-bar-medium {
    height: 1rem;
    background-color: #007ea4 !important
  }

.btn-blue {
    background-color: #0275d8 !important;
    border-color: #0275d8 !important;
}

.btn-gradient {
    background: linear-gradient(to right,#1AA64A, #007ea4);
    color: white;
}

.btn-gradient-inactive {
    background: #E3E3E3;
    color: #888;
}

.provider {
    padding: 10px;
    border-radius: 15px;
    color: black;
}

.mandiri-checked {
    background-color: #003A70;
    color: white;
}

.gm-checked {
    background-color: #D4171F;
    color: white;
}

.bca-checked {
    background-color: #255FA9;
    color: white;
}

.bni-checked {
  background-color: #E06437;
  color: white;
}

.step-wrapper-odd {
    background-color: #EFEFEF;
    padding: 10px;
}

.step-wrapper-even {
    background-color: #1AA64A;
    padding: 10px;
}

.step-wrapper-odd > div > img {
  height: 20%;
}

.step-wrapper-even > div > img {
  height: 20%;
}

.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-even {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

// launchpad

.featured-ico > .row {
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 25px;
}

.featured-ico > .row::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
  }
.featured-ico > .row::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    -webkit-height: 5px;
}

.ongoing-ico > .row {
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 25px;
}

.ongoing-ico > .row::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
  }
.ongoing-ico > .row::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    -webkit-height: 5px;
}

.completed-ico > .row {
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 25px;
}

.completed-ico > .row::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
  }
.completed-ico > .row::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    -webkit-height: 5px;
}

.testimonial-group > .row > .col-4 {
    display: inline-block;
    float: none;
  }

.launchpad-text {
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.launchpad-featured-info {
    margin-left: 25px;
    margin-top: 10px;
}

.launchpad-featured-info > p {
    line-height: 4px;
    color: #fff !important;
}

.launchpad-featured-wrapper {
    border-top: solid 1px #dedede;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-radius: 10px;
    padding: 25px;
    // background: linear-gradient(to right, #B7F2FF, #4AB6FF, #007ACC);
}

.launchpad-featured-wrapper:hover {
    cursor: pointer !important;
}

.launchpad-featured-footer {
    background-color: white;
    border-bottom: solid 1px #dedede;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.launchpad-featured-pricing > p {
    font-size: 10px;
    line-height: 2px;
    margin-top: 10px;
}

.green {
    color: #1AA74A;
}

.launchpad-ongoing-wrapper {
    border-top: solid 1px #dedede;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 25px;
    background-color: white;
}

.launchpad-ongoing-ribbon {
    background-color: #4CB906;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right: 25px;
    top: 10px;
    width: 50px;
    height: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launchpad-ongoing-ribbon > div > p {
    line-height: 5px;
    text-align: center;
    color: white;
}

.launchpad-ongoing-ribbon-text-wrapper {
    padding-top: 15px;
}

.blue-tc {
    color: #007EA5;
}

.launchpad-ongoing-info {
    margin-top: 25px;
}

.launchpad-ongoing-footer {
    background-color: #F5F5F5;
    border-bottom: solid 1px #dedede;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.smaller-text {
    font-size: 11px;
}

.launchpad-ongoing-btn-row-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lh-small {
    line-height: 5px;
}

.flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.launchpad-ongoing-category {
    width: 40%;
    position: absolute;
    top: 35px;
    background-color: #F1F1F1;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #B8B8B8;
}

.launchpad-tab > .nav-tabs .nav-link.active {
    color: #1AA74A !important;
    font-weight: 900 !important;
    background-color: #fff0 !important;
    border-color: #eceeef00 #eceeef00 #1AA74A #ddd0 !important;
    border-width: 3px;
}

.launchpad-tab > .nav-tabs .nav-link:hover {
    color: #1AA74A !important;
    font-weight: 900 !important;
    background-color: #fff0 !important;
    border-color: #eceeef00 #eceeef00 #1AA74A #ddd0 !important;
    border-width: 3px;
}

.bg-gray {
    background-color: #F5F5F5;
}

.launchpad-review-category {
    background-color: #0082BA;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    margin-bottom: -16px;
    display: block;
    text-align: center;
}

.launchpad-ongoing-footer-review {
    background-color: #f5f5f500;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.abcRioButton{
    -webkit-border-radius:1px;
    border-radius:1px;
    -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,.25);
    box-shadow:0 2px 4px 0 rgba(0,0,0,.25);
    -webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:background-color .218s,border-color .218s,box-shadow .218s;transition:background-color .218s,border-color .218s,box-shadow .218s;-webkit-user-select:none;-webkit-appearance:none;background-color:#fff;background-image:none;color:#262626;cursor:pointer;outline:none;overflow:hidden;position:relative;text-align:center;vertical-align:middle;white-space:nowrap;width:auto}
.abcRioButton:hover{-webkit-box-shadow:0 0 3px 3px rgba(66,133,244,.3);box-shadow:0 0 3px 3px rgba(66,133,244,.3)}
.abcRioButtonBlue{background-color:#4285f4;border:none;color:#fff}
.abcRioButtonBlue:hover{background-color:#4285f4}
.abcRioButtonBlue:active{background-color:#3367d6}
.abcRioButtonLightBlue{background-color:#fff;color:#757575}
.abcRioButtonLightBlue:active{background-color:#eee;color:#6d6d6d}
.abcRioButtonIcon{float:left}.abcRioButtonBlue
.abcRioButtonIcon{background-color:#fff;-webkit-border-radius:1px;border-radius:1px}.abcRioButtonSvg{display:block}
.abcRioButtonContents
{font-family:Roboto,arial,sans-serif;font-size:14px;font-weight:500;margin-left:6px;margin-right:6px;vertical-align:top;}
.abcRioButtonContentWrapper{height:100%;width:100%}
.abcRioButtonBlue .abcRioButtonContentWrapper{border:1px solid transparent}
.abcRioButtonErrorWrapper,.abcRioButtonWorkingWrapper{display:none;height:100%;width:100%}
.abcRioButtonErrorIcon,.abcRioButtonWorkingIcon{margin-left:auto;margin-right:auto}
.abcRioButtonErrorState,.abcRioButtonWorkingState{border:1px solid #d5d5d5;border:1px solid rgba(0,0,0,.17);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.05);box-shadow:0 1px 0 rgba(0,0,0,.05);color:#262626}.abcRioButtonErrorState:hover,.abcRioButtonWorkingState:hover{border:1px solid #aaa;border:1px solid rgba(0,0,0,.25);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 0 rgba(0,0,0,.1)}.abcRioButtonErrorState:active,.abcRioButtonWorkingState:active{border:1px solid #aaa;border:1px solid rgba(0,0,0,.25);-webkit-box-shadow:inset 0 1px 0 #ddd;box-shadow:inset 0 1px 0 #ddd;color:#262626}.abcRioButtonWorkingState,.abcRioButtonWorkingState:hover{background-color:#f5f5f5}.abcRioButtonWorkingState:active{background-color:#e5e5e5}.abcRioButtonErrorState,.abcRioButtonErrorState:hover{background-color:#fff}.abcRioButtonErrorState:active{background-color:#e5e5e5}.abcRioButtonWorkingState .abcRioButtonWorkingWrapper,.abcRioButtonErrorState .abcRioButtonErrorWrapper{display:block}.abcRioButtonErrorState .abcRioButtonContentWrapper,.abcRioButtonWorkingState .abcRioButtonContentWrapper,.abcRioButtonErrorState .abcRioButtonWorkingWrapper{display:none}.-webkit-keyframes abcRioButtonWorkingIconPathSpinKeyframes{0%{-webkit-transform:rotate(0)}}
.abcRioButtonContents {
    margin-top: -6px;
}

.googleButtonString {
    width: '90%' !important;
    font-size: 12px !important;
    margin-left: 20px !important;
    font-family: 'Roboto';
}

.abcRioButtonIcon:after {
    border-left: 20px solid #fff;
    border-top:25px solid transparent;
    border-bottom:28px solid transparent;
    height: 0;
    content: "";
    top:0;
    left: 50px;
    position: absolute;
    width: 0;
}

.new-image-notif{
    max-width: 80px;
}

@media (max-width: 1360px) and (min-width: 1200px){
    #m_header_menu {
        width: 115%;
    }
}

@media (max-width: 1200px) and (min-width: 1150px){
    #m_header_menu {
        width: 150%;
    }
}

@media (max-width: 1150px) and (min-width: 768px){
    #m_header_menu {
        width: 138%;
    }
}

@media (min-width: 768px) {
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 25px solid #4CB906;
        border-right: 25px solid #4CB906;

        border-bottom: 20px solid transparent;

        position: absolute;
        right: 25px;
        margin-top: 18px;
    }
}

@media (max-width: 768px) {
    .new-image-notif{
        max-width: 30px;
    }

    .mobile-24-min{
        display: block!important;
    }

    .mobile-24-volume{
        display: block!important;
        margin-left: -46px!important;
    }

    .mobile-usable-balance{
        padding: 15px 0px 10px 25px !important;
    }

    .mobile-usable-balance-inline{
        display: -webkit-inline-box!important;
    }
}

@media (max-width: 411px) {
    .secret {
        display: block !important;   
    }
    
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 25px solid #4CB906;
        border-right: 25px solid #4CB906;

        border-bottom: 10px solid transparent;

        position: absolute;
        right: 25px;
        margin-top: 3.8% !important;
    }
    .new-image-notif{
        max-width: 30px;
    }
}

.review-team-person > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.review-team-person > h6 {
    text-align: center;
}

.review-team-person > p {
    text-align: center;
    font-size: 11px;
}

.launchpad-plus-icon {
    padding: 5px;
    border-radius: 20px;
    width: 20px;
    font-size: 10px !important;
    color: white !important;
    text-align: center;
    background: #1AA74A;
}

.launchpad-minus-icon {
    padding: 5px;
    border-radius: 20px;
    width: 20px;
    font-size: 10px !important;
    color: white !important;
    text-align: center;
    background: #E79A37;
}

.review-score {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1AA74A;
    border-radius: 10px;
}

.score {
    font-size: 35px;
    font-weight: bold;
    color: white !important;
    text-align: center !important;
}

.score-desc {
    margin-top: 25%;
    line-height: 0px;
    font-size: 15px;
    color: white !important;
    text-align: center;
}

.review-progress {
    height: 30px !important;
}

.review-rating-desc {
    position: absolute;
    margin-left: 10px;
    margin-top: 6px;
    color: white;
}

.review-rating-desc-number {
    position: absolute;
    color: black;
    font-weight: bold;
    left: 70%;
    background-color: white;
    padding: 2px;
    margin-top: 5px;
    border-radius: 5px;
}

.progress-gradient {
    background: linear-gradient(to bottom right, #25A54E, #127FA2) !important;
}

.m-page--wide {
    background-color: rgb(244, 247, 250);
}

.error-msg {
    color: red;
}

.capitalize{
    text-transform: lowercase!important;
    font-style: italic;
    // font-variant: small-caps!important;
}

.tltp {
    border-radius: 10px;
    color: #716b6b !important;
    font-weight: 300;
    background-color: #eeeeee !important;
    border: 2px solid #c7c1c147;
    letter-spacing: 0px;
    padding: 10px;
}

#create-gift-tooltip {
    width: 250px;
}

.redeem {
    background: #F8F8F8 !important;
    border: 1px solid #B8B8B8 !important;
    font-size: 10px !important;
    color: rgba(16, 16, 16, 0.87) !important;
    letter-spacing: 0;
    text-align: left;
    line-height: 17px !important;
    letter-spacing: 1px;
}

.redeem::placeholder {
    font-size: 9px;
}

.apikey-info-wrapper {
    background: #F7F7F7;
    padding: 2%;
    border-radius: 10px;
}

.apikey-wrapper {
    padding: 3%;
}

.apikey-pointer {
    color: #1AA74A;
}

.apikey-pointer:hover {
    cursor: pointer !important;
}

.blank-opts {
    width: 50px;
    height: 30px;
}

.center-v {
    display: flex;
    align-items: center;
}

.telegram-account-input {
    background: #F8F8F8 !important;
    border: 1px solid #B8B8B8 !important;
    text-transform: lowercase;
    /* font-weight: 200;
    font-size: 10px !important; */
    color: rgba(16, 16, 16, 0.87) !important;
    letter-spacing: 0;
    text-align: left;
    line-height: 17px !important;
    border-right: 0px !important;
    letter-spacing: 1px; }
  
  .airdrop-box {
    width: 60% !important;
    margin: auto; }
  
  .tele-img-airdrop{
    position: absolute;
    left: 5px;
    z-index: 99;
    width: 60px;
    top: -35px;
  }
  
  .input-telegram{
    padding-left:50px!important;
  }
  
  .background-gradient-toko{
    background-image: linear-gradient(89deg, #007EA5 0%, #1AA74A 100%);
    border-radius:8px;
    color: #fff;
    padding-top:10px;
  }
  
  .btn-save-airdrop{
    color:#007ea4;
    opacity:0.5;
  }
  
  .grey-box {
    background-color: #93959e;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10% 10px 10px 10px; */
    text-align: center;
    line-height: 22px; }
  
  .green-box {
    background-color: #46a707;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10% 10px 10px 10px; */
    text-align: center;
    line-height: 22px;
    cursor: pointer; }
  
  .verify-box {
    background-color: #ADD8E6;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10% 10px 10px 10px; */
    text-align: center;
    line-height: 22px; }
  
  .generated-box {
  background-color: #0000A0;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10% 10px 10px 10px; */
  text-align: center;
  line-height: 22px; }
  
  .grey-box-double {
    background-color: #93959e;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10% 5% 5% 5%;
    text-align: center;
    line-height: 22px;
    cursor: pointer; }
  
  .padding-box{
    padding-left:30px!important;
    padding-right:30px!important;
  }

.chart_container {
    margin-top: 10px;
}

// Mobile Web View
.coin-pair__container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    padding: 0;
    justify-content: center; 
    align-items: center;
}
.coin-pair__logo {
    margin-right: 10;
}
.coin-pair__text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-overflow: ellipsis
}

.chart__header {
    padding: 0;
    width: 100%;
}

.user-disable{
    pointer-events: none;
}

.user-disable-opacity{
    opacity: 0.3;
}

.user-unblock-content a{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4a4646;
    padding: 10px;
    color: white;
    pointer-events: visible;
    text-decoration: none;
}

.user-unblock-content-ordernow a{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4a4646;
    padding: 10px;
    color: white;
    pointer-events: visible;
    text-decoration: none;
}

@media (max-width: 768px) {
    .chart__header {
        height: unset !important;
        padding: 0px !important;
    }
    .chart__header__data__container {
        display: flex;
    }
}

@media (min-width: 768px) {
    
    .chart_container {
        padding-left: 0px;
    }
    
    .chart__header__data__container {
        display: inline-flex;
    }

    .chart__header__data__prices {
        text-align: right;
        line-height: 18px;
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding-right:  0;
        margin-right: 10px;
        flex-wrap: wrap;
    }

    .chart__header__data__last-price {
        text-align: left; 
        line-height: 18px;
        flex: 1.5
    }

    .chart__header {
        display: inline-flex !important;
        align-items: center;
        padding: 0 !important;
        flex-direction: row;

        .container {
            padding: 10px;
            display: flex;
            flex: 1;
            align-items: end;
        }
        .header {
            font-family: 'Roboto', sans-serif;
            font-size: 12;
            color: #A1A1A1;
            font-weight: 500;
            margin: 0;
        }
        .col4 {
            flex: 1;
        }
        .price {
            font-family: 'Montserat', sans-serif;
            font-weight: 600;
            font-size: 1.5vw;
            margin: 0;
            display: inline-flex
        }
        .percentage {
            display: inline-flex;
            font-size: 11;
            font-weight: 400;
            margin-left: 5;
        }
        .percentage-plus {
            color: #1AA74A;
        }
        .percentage-min {
            color: #C4791C
        }
        .coin-icon {
            width: 27px;
            margin-right: 5px;
        }
        .info {
            display: flex;
            flex: 1;
            align-content: end;
            background-color: red;
        }
        .header-name {

        }
    }
    .coin-pair__text {
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        text-overflow: ellipsis
    }
    .coin-pair__container {
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: row;
    }
    .coin-pair__logo {
        margin-right: 10;
    }
}

.padding-0 {
    padding: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.padding--right-5 {
    padding-right: 5px !important;
}