@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('HelveticaNeueLTStd-Roman.eot');
  src: url('HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg'),
       url('HelveticaNeueLTStd-Roman.ttf') format('truetype'),
       url('HelveticaNeueLTStd-Roman.woff') format('woff'),
       url('HelveticaNeueLTStd-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

