.login-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: $color-primary;
  margin: 0 auto;
  margin-top: $padding-large * 2;
  margin-bottom: $padding-large * 2;
}

.g-recaptcha{
  margin: 15px auto !important;
  width: auto !important;
  height: auto !important;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
}

.singup-header{
  text-align: center;
  color: #9e97aa;
}

.btn-focus-green{
    color: #fff;
    background-color: #17A544;
    border-color: #17A544;
}

.btn-focus-green:hover{
  background-color: #17923e;
  border-color: #17923e;
}

.btn-focus-green-back{
  border: 1px solid #17A544 !important;
  background-color: rgba(23, 165, 68, 0) !important;
  color: #17A544 !important;
}

.btn-focus-green-back:hover{
  border: 1px solid #17A544 !important;
  background-color: #17A544 !important;
  color: #ffffff !important;
}

.login-fields {
  position: relative;
  width: 100%;
  background: $color-bg-white;
  padding: $padding-base * 3;
  top: $padding-large;
  right: $padding-large;
  @include an-box-shadow;

  h3 {
    a {
      font-size: 13px;
      font-weight: $font-weight-base;
      padding-left: $padding-large;
      color: $font-color-base;
      opacity: .7;

      &:hover {
        color: $color-primary;
      }
    }
    i {
      font-size: $font-size-h1 * 2;
    }
    &.title-404 {
      font-size: $font-size-h1 * 3;

    }
  }
}
