@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('HelveticaNeueLTStd-Bd.eot');
  src: url('HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg'),
       url('HelveticaNeueLTStd-Bd.ttf') format('truetype'),
       url('HelveticaNeueLTStd-Bd.woff') format('woff'),
       url('HelveticaNeueLTStd-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

