.panel-body {
  .recharts-wrapper {
    width: 100% !important;
    .recharts-surface {
      width: 100%;
    }
    .recharts-legend-wrapper {
      .recharts-surface {
        width: auto;
      }
    }
  }
  .recharts-responsive-container {
    height: 300px !important;
  }
}

.tick > text[y] {
  transform: rotate(-65deg) translate(-15px,-10px);
}

.selected-pair-chart {
  border-bottom: solid 2px $color-primary;
}

.chart-date-container{
  display: inline-flex;
  margin: auto;
  div{
    margin-right: 15px;
    font-size: 14px;
  }
  .active{
    background-color: #2261ef;
    color: #fff;
    padding: 0px 10px 0px 10px;
  }
}

.chart-insight {
  padding: 10px;
}

.chart-insight-item h3 {
  text-align: center;
}

.chart-insight-item h6 {
  text-align: center;
  color: $color-grey;
}

.chart-intervals {
  margin-top: -5px;
}

