.TVChartContainer {
	/* height: calc(100vh - 250px); */
	height: calc(100vh - 183px)
}

.TVFullChartContainer {
	height: calc(100vh - 110px);
}

.TVChartAdvancedContainer{
	height: calc(100vh - 250px);
}