@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap");
@font-face {
  font-family: 'helvetica', sans-serif;
  src: url("../webfonts/helvetica/helvetica.eot");
  src: url("../webfonts/helvetica/helvetica.eot?#iefix") format("embedded-opentype"), url("../webfonts/helvetica/helvetica.svg#helvetica") format("svg"), url("../webfonts/helvetica/helvetica.ttf") format("truetype"), url("../webfonts/helvetica/helvetica.woff") format("woff"), url("../webfonts/helvetica/helvetica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'helvetica', sans-serif;
  src: url("../webfonts/helvetica-bold/helvetica-bold.eot");
  src: url("../webfonts/helvetica-bold/helvetica-bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/helvetica-bold/helvetica.svg#helvetica-bold") format("svg"), url("../webfonts/helvetica-bold/helvetica-bold.ttf") format("truetype"), url("../webfonts/helvetica-bold/helvetica-bold.woff") format("woff"), url("../webfonts/helvetica-bold/helvetica-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'helvetica', sans-serif;
  src: url("../webfonts/helvetica-light/helvetica-light.eot");
  src: url("../webfonts/helvetica-light/helvetica-light.eot?#iefix") format("embedded-opentype"), url("../webfonts/helvetica-light/helvetica-light.svg#helvetica-light") format("svg"), url("../webfonts/helvetica-light/helvetica-light.ttf") format("truetype"), url("../webfonts/helvetica-light/helvetica-light.woff") format("woff"), url("../webfonts/helvetica-light/helvetica-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal
}

*,
*:focus {
  outline: none !important
}

html,
body {
  overflow-x: hidden
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000000
}

a,
span {
  display: inline-block
}

a {
  color: #007aff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

a:hover,
a:focus,
a:active {
  text-decoration: none
}

strong {
  font-weight: 600;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: #444444;
  line-height: 44px;
  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 28px;
  }
}

figure {
  margin: 0
}

img {
  max-width: 100%;
  height: auto;
  margin: auto
}

iframe {
  max-width: 100%
}

.videoWrapper {
  position: relative;
  padding-bottom: 53%;
  padding-top: 25px;
  height: 0;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.15)
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.row-0 {
  margin-right: -0px;
  margin-left: -0px
}

.row-0>.col,
.row-0>[class*="col-"] {
  padding-right: 0px;
  padding-left: 0px
}

.row-8 {
  margin-right: -8px;
  margin-left: -8px
}

.row-8>.col,
.row-8>[class*="col-"] {
  padding-right: 8px;
  padding-left: 8px
}

.row-10 {
  margin-right: -10px;
  margin-left: -10px
}

.row-10>.col,
.row-10>[class*="col-"] {
  padding-right: 10px;
  padding-left: 10px
}

.row-12 {
  margin-right: -12px;
  margin-left: -12px
}

.row-12>.col,
.row-12>[class*="col-"] {
  padding-right: 12px;
  padding-left: 12px
}

.row-19 {
  margin-right: -19px;
  margin-left: -19px
}

.row-19>.col,
.row-19>[class*="col-"] {
  padding-right: 19px;
  padding-left: 19px
}

.row-21 {
  margin-right: -21px;
  margin-left: -21px
}

.row-21>.col,
.row-21>[class*="col-"] {
  padding-right: 21px;
  padding-left: 21px
}
@media screen and (min-width: 992px) {
  .row-lg-21 {
    margin-right: -21px;
    margin-left: -21px
  }

  .row-lg-21>.col,
  .row-lg-21>[class*="col-"] {
    padding-right: 21px;
    padding-left: 21px
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 300;
  padding: 17px 39px;
  border: 0;
  font-size: 15px
}

.btn-yellow {
  border-radius: 30px;
  // box-shadow: -1px 7px 10px 0 rgba(241, 255, 0, 0.43);
  background-image: linear-gradient(50deg, #fecb27, #fcb708);
  color: #000000 !important;
  min-width: 136px
}

.btn-yellow-border {
  border: solid 1px transparent;
  border-radius: 80px;
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at top, #fad961, #f76b1c);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 56px;
  width: 136px;
  padding: 0;
  line-height: 56px;
  text-transform: none;
  color: #000
}

.btn-yellow-border:hover {
  color: #000
}

.btn-green {
  color: #ffffff !important;
  font-size: 16px;
  background-color: #0BB343;
  border-radius: 100px;
  font-weight: 600;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
  text-transform: capitalize;
  padding: 17px 45px;
}

.btn-green-border {
  border: solid 1px transparent;
  border-radius: 80px;
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at left, #017da5, #189c56);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 56px;
  width: 200px;
  padding: 0;
  line-height: 56px;
  text-transform: none
}

.btn-green-border:hover {
  color: #007aff
}

.btn-white-border {
  border: 1px solid #ffffff;
  border-radius: 30px;
  text-transform: none;
  color: #ffffff
}

.btn-white-border:hover,
.btn-white-border:focus,
.btn-white-border:active {
  color: #ffffff
}

.icon-tokocrypto {
  display: inline-block;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  &.icon-play {
    background: url(../images/icon/icon-play.svg);
    width: 102px;
    height: 102px;
    background-size: 102px 102px;
    position: absolute;
    left: calc(50% - 61px);
    top: calc(50% - 61px);
  }
  &.icon-quotes {
    background: url(../images/icon/icon-quote@2x.png);
    width: 107px;
    height: 99px;
    background-size: 107px 99px;
    @media screen and (max-width: 991px) {
      width: 52px;
      height: 48px;
      background-size: 52px 48px;
    }
  }
  &.icon-times {
    background: url(../images/icon/icon-clock@2x.png) center center no-repeat;
    width: 68px;
    height: 68px;
    background-size: 30px 30px;
    background-color: #4CB906;
    border-radius: 50%;
    &:before {
      width: 72px;
      height: 72px;
      left: -2px;
      top: -2px;
      border: 2px solid rgba(255,255,255,0.2);
      border-radius: 50%;
      z-index: -2;
    }
  }
}
.icon-bg-times {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 72px;
  height: 72px;
  img {
    position: absolute;
    right: -5px;
    top: -9px;
    z-index: 0;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
    width: 86px;
    height: 86px;
    max-width: none;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.icon-tokocrypto:before {
  content: '';
  width: 34px;
  height: 34px;
  position: absolute
}

.icon-tokocrypto.icon-social {
  width: 36px;
  height: 36px
}

.icon-tokocrypto.icon-social:before {
  width: 36px;
  height: 36px
}

.icon-tokocrypto.icon-big {
  width: 60px;
  height: 60px
}

.icon-tokocrypto.icon-big:before {
  width: 60px;
  height: 60px
}

@media screen and (max-width: 991px) {
  .icon-tokocrypto.icon-big {
    width: 51px;
    height: 51px
  }
  .icon-tokocrypto.icon-big:before {
    width: 51px;
    height: 51px;
    background-size: 51px
  }
}

.icon-menu {
  position: absolute;
  background-color: #fff;
  border-radius: 100px;
  height: 3px;
  width: 25px
}

.icon-menu:before,
.icon-menu:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 100px;
  top: 8px
}

.icon-menu:after {
  top: 15px
}

.close-menu {
  position: absolute;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: 2px solid #118996
}

.close-menu:before,
.close-menu:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #118996;
  border-radius: 100px;
  top: 15px;
  left: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.close-menu:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.icon-exchange:before {
  background: url("../images/icon/icon-exchange-active@2x.png") center center no-repeat;
  background-size: 34px
}

.icon-tokonews:before {
  background: url("../images/icon/icon-tokonews-active@2x.png") center center no-repeat;
  background-size: 34px
}

.icon-tokolaunchpad:before {
  background: url("../images/icon/icon-launchpad-active@2x.png") center center no-repeat;
  background-size: 34px
}

.icon-working:before {
  background: url("../images/icon/icon-remote-working-active@2x.png") center center no-repeat;
  background-size: 34px
}

.icon-books:before {
  background: url("../images/icon/icon-book-default@2x.png") center center no-repeat;
  background-size: 34px
}

.icon-inblocks:before {
  background: url("../images/icon/icon-inblocks-active@2x.png") center center no-repeat;
  background-size: 34px
}

.icon-otc:before {
  background: url("../images/icon/icon-otc-active@2x.png") center center no-repeat;
  background-size: 34px
}

.icon-aset:before {
  background: url("../images/icon/icon-menu-02.png") center center no-repeat;
  background-size: 25px
}

.icon-pusat:before {
  background: url("../images/icon/icon-menu-03.png") center center no-repeat;
  background-size: 25px
}

.icon-tentang:before {
  background: url("../images/icon/icon-menu-04.png") center center no-repeat;
  background-size: 25px
}

.icon-faq:before {
  background: url("../images/icon/icon-menu-05.png") center center no-repeat;
  background-size: 25px
}

.icon-launchpad:before {
  background: url("../images/icon/icon-launchpad-active.png") center center no-repeat;
  background-size: 25px
}

.icon-search {
  position: absolute;
  left: 0
}

.google-play {
  cursor: pointer;
}

.icon-search:before {
  border: solid 1px #0e8f75;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  left: 15px;
  top: 12px
}

.icon-search:after {
  content: '';
  position: absolute;
  background-color: #0e8f75;
  height: 1px;
  width: 7px;
  top: 25px;
  transform: rotate(45deg);
  left: 25px
}

.icon-star,
.icon-star-check {
  width: 26px;
  height: 16px
}

.icon-star:before,
.icon-star-check:before {
  width: 16px;
  height: 16px;
  background: url("../images/icon/icon-star@2x.png") center center no-repeat;
  background-size: 16px;
  top: 9px;
  z-index: 1;
  cursor: pointer
}

.icon-star-check:before {
  background: url("../images/icon/icon-star-check@2x.png") center center no-repeat;
  background-size: 16px;
  top: 9px;
  z-index: 2
}

.icon-telegram-chat:before {
  background: url("../images/icon/icon-telegram-chat@2x.png") center center no-repeat;
  background-size: 60px;
  left: 0;
}

.icon-group-chat:before {
  background: url("../images/icon/icon-group-chat@2x.png") center center no-repeat;
  background-size: 60px;
  left: 0;
}

.icon-medium:before {
  background: url("../images/icon/icon-medium@2x.png") center center no-repeat;
  background-size: 36px 31px
}

.icon-twitter:before {
  background: url("../images/icon/icon-twitter@2x.png") center center no-repeat;
  background-size: 36px 30px
}

.icon-telegram:before {
  background: url("../images/icon/icon-telegram@2x.png") center center no-repeat;
  background-size: 36px 32px
}

.icon-facebok:before {
  background: url("../images/icon/icon-facebok@2x.png") center center no-repeat;
  background-size: 20px 36px
}

.icon-linkedin:before {
  background: url("../images/icon/icon-linked-in@2x.png") center center no-repeat;
  background-size: 36px 35px
}

.icon-linkedin-border {
  position: relative;
  width: 32px;
  height: 32px;
  &:before {
    background: url("../images/icon/icon-linkedin-border.svg") center center no-repeat;
    background-size: 32px;
    left: 0;
  }
}
.icon-email-border {
  position: relative;
  width: 32px;
  height: 32px;
  &:before {
    background: url("../images/icon/icon-mail-border.svg") center center no-repeat;
    background-size: 32px;
    left: 0;
  }
}

.icon-b {
  width: 45px;
  height: 45px;
  position: relative;
  display: block;
  margin-bottom: 10px
}

.icon-b:before {
  width: 45px;
  height: 45px;
  left: 0
}

.icon-b-indonesia:before {
  background: url("../images/icon/lang-id.svg") center center no-repeat;
  background-size: 45px
}

.icon-b-english:before {
  background: url("../images/icon/lang-gb.svg") center center no-repeat;
  background-size: 45px
}

.icon-b-javanesse:before {
  background: url("../images/icon/b-java@2x.png") center center no-repeat;
  background-size: 45px
}

.icon-b-sunda:before {
  background: url("../images/icon/b-sunda@2x.png") center center no-repeat;
  background-size: 45px
}

.icon-100 {
  width: 100px;
  height: 100px;
  position: relative
}

.icon-100:before {
  width: 100px;
  height: 100px;
  left: 0
}

.icon-remote:before {
  background: url("../images/icon/icon-remote-working-default@2x.png") center center no-repeat;
  background-size: 93px 90px
}

.icon-flexible:before {
  background: url("../images/icon/icon-flexible-time-active@2x.png") center center no-repeat;
  background-size: 90px
}

.icon-competitive:before {
  background: url("../images/icon/icon-competitive-active@2x.png") center center no-repeat;
  background-size: 79px 90px
}

.icon-book:before {
  background: url("../images/icon/icon-book-active@2x.png") center center no-repeat;
  background-size: 90px 61px
}

.icon-time-personal:before {
  background: url("../images/icon/icon-time-personal-active@2x.png") center center no-repeat;
  background-size: 59px 90px
}

.icon-healthy-insurance:before {
  background: url("../images/icon/icon-healthy-insurance-active@2x.png") center center no-repeat;
  background-size: 71px 90px
}

.form-control:focus {
  box-shadow: none
}

.big-font-desc {
  font-size: 25px;
  margin-bottom: 23px;
  font-weight: 300
}

.main-title {
  font-size: 35px;
  font-weight: normal;
  color: #007ca8;
  margin-bottom: 35px;
  text-align: center
}

@media screen and (max-width: 991px) {
  .main-title {
    text-align: left
  }
}

.wrapper {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.wrapper.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.wrapper.flex-register {
  background: url("../images/background/bg-register.jpg") center center/cover no-repeat
}

@media screen and (max-width: 767px) {
  .wrapper.flex-register {
    background: url("../images/background/bg-register-mobile@2x.png") top center/cover no-repeat;
    height: 100% !important
  }
}

.wrapper .container-login {
  max-width: 490px;
  width: 100%
}

.header {
  background-image: linear-gradient(#45ae57, #007daa);
  color: #ffffff;
  min-height: 750px;
  padding-top: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &.promo-header {
    margin-top: 64px;
  }
  &.promo-header.closed {
    margin-top: 0;
  }
  @media screen and (max-width: 991px) {
    &.promo-header {
      margin-top: 42px;
    }
    &.promo-header.closed {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    min-height: 850px
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    min-height: 750px
  }
}

@media screen and (max-width: 991px) {
  .header .position-static-mobile {
    position: static
  }
}

.header-aset {
  min-height: 400px
}

.header-aset .middle-head {
  padding-top: 129px;
  padding-bottom: 78px
}

@media screen and (max-width: 991px) {
  .header-aset .middle-head {
    padding-top: 0;
    padding-bottom: 50px
  }
}

.header-aset .middle-head .main-lang-list {
  margin: 0;
  justify-content: flex-end
}

@media screen and (max-width: 991px) {
  .header-aset .middle-head .main-lang-list {
    margin-top: 15px;
    justify-content: flex-start
  }
}

.header-aset .middle-head .main-lang-list a {
  color: #ffffff;
  font-size: 15px;
  margin: 0 11px;
  text-align: center
}

@media screen and (max-width: 991px) {
  .header-aset .middle-head .main-lang-list a {
    margin: 0 9px
  }
}

@media screen and (max-width: 359px) {
  .header-aset .middle-head .main-lang-list a {
    margin: 0 4px
  }
}

.header-aset .middle-head .main-lang-list a .icon-b {
  margin: 0 auto 10px;
  width: 61px;
  height: 61px
}

.header-aset .middle-head .main-lang-list a .icon-b:before {
  width: 61px;
  height: 61px;
  background-size: 61px
}

.header-aset h1 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 23px
}

.header-aset p {
  font-size: 15px;
  font-weight: 300;
  max-width: 670px
}

.header-page {
  min-height: 465px
}

@media screen and (min-width: 1521px) {
  .header-page {
    min-height: 550px
  }
}

@media screen and (min-width: 1800px) {
  .header-page {
    min-height: 600px
  }
}

.header-page {
  h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 23px;
  }
  .middle-head .sub-list-title li:not(:last-child) {
    padding-right: 15px;
    margin-right: 10px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50px;
      right: 0;
      top: 10px;
      background-color: #ffffff;
    }
  }
}

@media screen and (min-width: 1521px) {
  .header-page .middle-head {
    padding-top: 85px
  }
}

@media screen and (min-width: 1800px) {
  .header-page .middle-head {
    padding-top: 110px
  }
}

.header-login-menu {
  min-height: 275px;
  @media screen and (max-width: 767px) {
    min-height: 150px;
  }
}

@media screen and (max-width: 991px) {
  .header-about .middle-head {
    padding-top: 50px
  }
}

.header-career .btn-white-border {
  margin-bottom: 30px
}

.header-login {
  padding-top: 50px;
  text-align: center
}

.header-login .container {
  max-width: 340px
}

.header-register {
  padding-top: 30px
}

@media screen and (min-width: 768px) {
  .header-register {
    padding-top: 50px;
    width: 100%;
    padding-right: 50%
  }
}

.header-register .container {
  max-width: 410px
}

.header-register h1 {
  font-size: 35px;
  font-weight: normal;
  color: #007ca8;
  margin-top: 55px
}

@media screen and (max-width: 767px) {
  .header-register h1 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 50px
  }
}

.top-head {
  margin: 0 auto;
  padding: 20px 40px;
  width: 100%;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  .logo-color {
    display: none;
  }
  @media screen and (min-width: 992px) {
    &.set-fixed {
      position: fixed;
      top: -1010px !important;
      background-color: #ffffff;
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
      .logo-white {
        display: none;
      }
      .logo-color {
        display: inline;
      }
      .main-menu .main-menu-list li a {
        color: #000;
        &:after {
          background-color: #000000;
        }
      }
      + .middle-head {
        margin-top: 80px;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    padding: 20px 30px;
  }
  @media screen and (max-width: 991px) {
    padding: 35px 15px;
  }
}

.head-promo:not(.closed) ~ .top-head {
  @media screen and (max-width: 991px) {
    padding: 20px 15px 35px;
    .mobile-menu-bar {
      top: 68px;
    }
  }
}

@media screen and (max-width: 991px) {
  .logo-area .logo-area-tokocrypto {
    max-width: calc(50% - 25px);
    margin-right: 20px
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .logo-area .logo-area-tokocrypto {
    margin-right: 0;
    max-width: 120px;
  }
}

.logo-area .logo-area-bappebti {
  margin-left: 60px;
  @media screen and (max-width: 599px) {
    margin-left: 5px;
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    margin-left: 30px;
    max-width: 100px;
  }
}
@media screen and (max-width: 991px) {
  .logo-area .logo-area-bappebti {
    width: calc(50% - 21px)
  }
}

.mobile-menu-bar {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 22px;
  position: absolute;
  top: 40px;
  right: 18px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-menu-close {
  cursor: pointer;
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 25px;
  right: 20px;
}

@media screen and (max-width: 991px) {
  .main-menu {
    position: fixed;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
  }
  .main-menu.active {
    opacity: 1;
    visibility: visible;
    z-index: 99999
  }
}

.main-menu .logo-color-tokocrypto {
  margin: 25px 15px 35px;
}

@media screen and (min-width: 992px) {
  .main-menu .main-scroll-mobile {
    height: auto !important
  }
}

@media screen and (max-width: 991px) {
  .main-menu .main-scroll-mobile {
    overflow-y: scroll;
    position: relative
  }
}

.main-menu .main-menu-list {
  padding-left: 0;
  list-style: none;
  margin: 0
}

.main-menu .main-menu-list .icon-tokocrypto {
  width: 30px;
  height: 25px;

  position: relative;
}

.main-menu .main-menu-list .icon-tokocrypto:before {
  width: 25px;
  height: 25px;
  left: 0;

top: -2px;
}

.main-menu .main-menu-list .icon-exchange:before {
  background: url("../images/icon/icon-menu-01.png") center center no-repeat;
  background-size: 25px
}

@media screen and (min-width: 992px) {
  .main-menu .main-menu-list {
    display: flex;
    justify-content: flex-end
  }
}

.main-menu .main-menu-list li {
  margin: 0 10px;
  text-align: center;
  min-width: 80px;
  @media screen and (min-width: 991px) and (max-width:1199px) {
    margin: 8px 5px;
    min-width: 75px;
  }
  @media screen and (max-width: 991px) {
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .main-menu .main-menu-list li {
    margin: 25px 30px 0
  }
}

.main-menu .main-menu-list li a {
  color: #ffffff;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  &:after {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    content: "";
    background-color: #ffffff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center 0px;
    -ms-transform-origin: left center 0px;
    transform-origin: left center 0px;
    height: 4px;
    width: 100%;
    top: calc(100% + 4px);
    position: absolute;
    display: block;
  }
  &.active, &:hover {
    &:after {
      -webkit-transform: scale(1, 1) !important;
      -ms-transform: scale(1, 1) !important;
      transform: scale(1, 1) !important;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .main-menu .main-menu-list li a {
    font-size: 11px
  }
}

@media screen and (min-width: 1025px) and (max-width: 1100px) {
  .main-menu .main-menu-list li a {
    font-size: 12px
  }
}

@media screen and (min-width: 1101px) and (max-width: 1150px) {
  .main-menu .main-menu-list li a {
    font-size: 13px
  }
}

@media screen and (max-width: 991px) {
  .main-menu .main-menu-list li a {
    color: #199d54;
    font-size: 16px
  }
}

.main-menu .main-lang-list {
  margin: 0;
  padding: 65px 20px 45px
}

.main-menu .main-lang-list li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  text-align: center
}

.main-menu .main-lang-list li a {
  font-family: 'helvetica', sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #199d54
}

.main-menu .main-logreg-list {
  padding: 0 20px 55px;
  text-align: center
}

.main-menu .main-logreg-list .btn-yellow-border {
  margin-right: 15px
}

@media screen and (max-width: 359px) {
  .main-menu .main-logreg-list .btn-yellow-border {
    margin-right: 3px
  }
}

.middle-head {
  padding-top: 70px
}

@media screen and (max-width: 991px) {
  .middle-head {
    padding-top: 10px
  }
}

.learn-tokocrypto {
  @media screen and (max-width: 991px) {
    max-width: 440px;
    margin: 30px auto 0;
  }
  h1 {
    font-size: 28px;
    line-height: 1.4;
    max-width: 530px;
    margin: auto;
  }
}

.start-tokocrypto {
  position: relative;
  max-width: 441px;
  margin: auto;
  margin-top: 35px;
}

.start-tokocrypto label {
  font-size: 18px;
  letter-spacing: .3px;
  font-weight: 100;
}

@media screen and (max-width: 991px) {
  .start-tokocrypto label {
    font-size: 17px
  }
}

.start-tokocrypto .control-white {
  border-radius: 71px;
  -webkit-box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  -ms-box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  -o-box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  background-color: #f7f7f7;
  border: 0;
  font-size: 15px;
  padding: 17px 150px 17px 21px
}

.start-tokocrypto .btn-yellow {
  position: absolute;
  top: 0;
  right: 0
}

.chat-to-tokocrypto {
  position: fixed;
  right: 28px;
  padding-left: 0;
  margin: 0;
  top: calc(50% - 60px);
  list-style: none;
  z-index: 99
}

.chat-to-tokocrypto li {
  margin: 12px 0
}

@media screen and (max-width: 991px) {
  .chat-to-tokocrypto {
    right: 4px
  }
  .chat-to-tokocrypto li {
    margin: 7.5px 0
  }
}

.bottom-head {
  margin-top: 55px;
  .btn-green-border {
    font-weight: 600;
    color: #017da5;
  }
}

@media screen and (max-width: 767px) {
  .bottom-head {
    margin-top: 20px
  }
}

@media screen and (max-width: 767px) {
  .bottom-head .slide-graphic {
    max-width: 230px;
    margin: auto
  }
  .bottom-head .slide-graphic .slick-track,
  .bottom-head .slide-graphic .slick-list {
    overflow: visible
  }
  .bottom-head .slide-graphic .slick-arrow {
    background: #ffffff;
    height: calc(100% - 12px);
    width: 100%;
    border-radius: 6px;
    opacity: 0;
    top: 6px
  }
  .bottom-head .slide-graphic .slick-arrow.icon-arrow-right {
    right: calc(-100% - 12px)
  }
  .bottom-head .slide-graphic .slick-arrow.icon-arrow-left {
    left: calc(-100% - 12px)
  }
  .bottom-head .inner-graphic-item {
    max-width: 230px
  }
}

.slick-slider .slick-track {
  overflow: visible
}

.rectangle-tokocrypto {
  border-radius: 13px;
  background-color: #ffffff;
  color: #000000;
  padding-top: 5px;
  margin: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden
}

.rectangle-tokocrypto img {
  float: left;
  margin-left: 4px
}

.rectangle-tokocrypto .top-data-tokocrypto {
  overflow: hidden;
  padding-top: 11px;
  padding-right: 15px
}

.rectangle-tokocrypto .top-data-tokocrypto span {
  display: block
}

.rectangle-tokocrypto .top-data-tokocrypto .title-data-tokocrypto {
  font-size: 14px;
  font-weight: 600
}

.rectangle-tokocrypto .top-data-tokocrypto .percent-data-tokocrypto {
  font-size: 15px;
  font-family: 'helvetica', sans-serif;
  color: #848484
}

.rectangle-tokocrypto .top-data-tokocrypto .percent-data-tokocrypto.percent-up {
  color: #007ca8
}

.rectangle-tokocrypto .top-data-tokocrypto .percent-data-tokocrypto.percent-down {
  color: #ff0000
}

.rectangle-tokocrypto .middle-data-tokocrypto {
  clear: both;
  padding: 0 15px;
  font-family: 'helvetica', sans-serif
}

.rectangle-tokocrypto .middle-data-tokocrypto p {
  margin: 0;
  font-size: 18px
}

.rectangle-tokocrypto .middle-data-tokocrypto p span {
  font-size: 17px;
  float: right;
  color: #737373;
  margin-top: 2px
}

.rectangle-tokocrypto .middle-data-tokocrypto label {
  margin: 0;
  font-size: 13px;
  color: #848484;
  font-weight: 300
}

.rectangle-tokocrypto .bottom-data-tokocrypto canvas {
  width: 100%;
  height: 72px !important
}

.ecosistem-tokocrypto {
  padding-top: 50px;
  padding-bottom: 200px;
  position: relative;
  @media screen and (max-width: 479px) {
    .col-lg-3 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .ecosistem-tokocrypto {
    padding-top: 20px;
    padding-bottom: 38px
  }
}

.ecosistem-tokocrypto .big-font-desc {
  max-width: 592px;
  font-weight: 500;
  font-size: 30px;
  color: #444444;
  line-height: 44px;
  margin-bottom: 48px;
}

.tab-title-tokocrypto h2 {
  font-size: 40px;
  margin-bottom: 38px
}

.tab-title-tokocrypto ul {
  list-style: none;
  padding-left: 0
}

@media screen and (min-width: 992px) {
  .tab-title-tokocrypto ul {
    display: block
  }
}

.tab-title-tokocrypto ul li a {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 32px;
  display: block;
  max-width: 220px;
}

.tab-title-tokocrypto ul li a span {
  margin-left: 15px
}

.tab-title-tokocrypto ul li a .icon-tokocrypto {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.tab-title-tokocrypto ul li a.active,
.tab-title-tokocrypto ul li a:hover,
.tab-title-tokocrypto ul li a:active,
.tab-title-tokocrypto ul li a:focus {
  color: #0BB343;
  font-weight: 600
}

.tab-title-tokocrypto ul li a.active .icon-tokocrypto,
.tab-title-tokocrypto ul li a:hover .icon-tokocrypto,
.tab-title-tokocrypto ul li a:active .icon-tokocrypto,
.tab-title-tokocrypto ul li a:focus .icon-tokocrypto {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1
}

.tab-title-tokocrypto ul li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  bottom: -13px;
  left: 0;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.tab-title-tokocrypto ul li a.active:before,
.tab-title-tokocrypto ul li a:hover:before {
  background-color: #0BB343;
}

@media screen and (max-width: 991px) {
  .tab-title-tokocrypto ul li a {
    font-family: 'helvetica', sans-serif;
    text-transform: none;
    font-size: 12px;
    font-weight: normal !important;
    color: #bdbdbd !important;
    text-align: center;
    margin: 5px 0 10px;
    padding: 0 15px;
    text-transform: uppercase;
  }
  .tab-title-tokocrypto ul li a .icon-tokocrypto {
    position: relative;
    display: block;
    width: 100%
  }
  .tab-title-tokocrypto ul li a .icon-tokocrypto:before {
    left: 0;
    right: 0;
    margin: auto
  }
  .tab-title-tokocrypto ul li a span {
    margin-left: 0;
    margin-top: 7px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    min-width: 45px
  }
  .tab-title-tokocrypto ul li a:before {
    background-color: #218f50;
    bottom: -10px;
    right: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
  }
  .tab-title-tokocrypto ul li a.active:before,
  .tab-title-tokocrypto ul li a:hover:before,
  .tab-title-tokocrypto ul li a:active:before {
    background-color: #218f50;
    right: 0;
    margin: auto;
    opacity: 1
  }
}

@media screen and (max-width: 991px) {
  .tab-title-tokocrypto .nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: 25px;
  }
}
.tab-inner-tokocrypto h3 {
  font-size: 35px;
  color: #007ca8;
  font-weight: 400
}

.tab-inner-tokocrypto h4 {
  font-family: 'helvetica', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #007ca8;
}

.tab-inner-tokocrypto p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.tab-inner-tokocrypto ul {
  padding-left: 0;
  list-style: none;
  font-size: 25px;
  color: #007ca8;
  margin: 0;
  line-height: 1.2;
  li {
    margin-bottom: 10px;
  }
}

.tab-inner-tokocrypto .btn {
  margin-top: 15px;
  height: 56px
}


.tab-inner-tokocrypto.tab-inner-tokocrypto-full {
  max-width: 100%
}

.tab-inner-tokocrypto .anim-1 {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.tab-inner-tokocrypto .anim-2 {
  animation: fadeIn2 ease 3s;
  -webkit-animation: fadeIn2 ease 3s;
  -moz-animation: fadeIn2 ease 3s;
  -o-animation: fadeIn2 ease 3s;
  -ms-animation: fadeIn2 ease 3s
}

.tab-inner-tokocrypto .anim-rightleft-2,
.tab-inner-tokocrypto .anim-rightleft img {
  animation: rightLeft ease 2s;
  -webkit-animation: rightLeft ease 2s;
  -moz-animation: rightLeft ease 2s;
  -o-animation: rightLeft ease 2s;
  -ms-animation: rightLeft ease 2s
}

.tab-inner-tokocrypto .anim-rightleft-2 {
  margin-left: 0;
  animation: rightLeft2 ease 2s;
  -webkit-animation: rightLeft2 ease 2s;
  -moz-animation: rightLeft2 ease 2s;
  -o-animation: rightLeft2 ease 2s;
  -ms-animation: rightLeft2 ease 2s
}

@media screen and (max-width: 991px) {
  .tab-inner-tokocrypto .anim-rightleft-2 .big-font-desc {
    margin-top: 20px;
    max-width: 290px
  }
}

.tab-inner-tokocrypto .anim-3 {
  animation: fadeIn3 ease 3s;
  -webkit-animation: fadeIn3 ease 3s;
  -moz-animation: fadeIn3 ease 3s;
  -o-animation: fadeIn3 ease 3s;
  -ms-animation: fadeIn3 ease 3s
}

@media screen and (max-width: 991px) {
  
  .tab-inner-tokocrypto .mbile-position {
    position: static
  }
}

@media screen and (max-width: 767px) {
  
  .tab-inner-tokocrypto .mbile-position {
    text-align: center;
  }
}

.tab-inner-tokocrypto {
  > .col-md-6 {
    z-index: 0;
    &:nth-child(1) {
      z-index: 1;
    }
  }
  .heade-inner-tab {
    p {
      font-size: 20px;
      position: relative;
      z-index: 1;
    }
  } 
  .mobile-tab {
    @media screen and (min-width: 1400px) {
      img {
        top: -125px;
      }
    }
    @media screen and (min-width: 1200px) {
      img {
        left: -75px;
        top: -75px;
      }
    }
    @media screen and (min-width: 768px) {
      img {
        max-width: none;
        position: absolute;
        right: 0;
        z-index: -1;
      }
    }
    @media screen and (max-width: 767px) {
      max-width: 320px;
      margin: auto;
    }
  }
  .general-link {
    margin: 50px 0 80px;
    a {
      font-size: 15px;
      font-weight: 300;
      color: #0BB343;
      text-decoration: underline;
    }
  }
}

#tokonews .anim-3 {
  bottom: 175px;
  animation: fadeIn3 ease 2s;
  -webkit-animation: fadeIn3 ease 2s;
  -moz-animation: fadeIn3 ease 2s;
  -o-animation: fadeIn3 ease 2s;
  -ms-animation: fadeIn3 ease 2s
}

#otc .anim-3 {
  bottom: 200px;
  animation: fadeIn3 ease 2s;
  -webkit-animation: fadeIn3 ease 2s;
  -moz-animation: fadeIn3 ease 2s;
  -o-animation: fadeIn3 ease 2s;
  -ms-animation: fadeIn3 ease 2s
}

#tokolaunchpad .anim-3 {
  bottom: 200px;
  animation: fadeIn3 ease 2s;
  -webkit-animation: fadeIn3 ease 2s;
  -moz-animation: fadeIn3 ease 2s;
  -o-animation: fadeIn3 ease 2s;
  -ms-animation: fadeIn3 ease 2s
}

#inblocks .anim-2 {
  animation: fadeIn2 ease 2s;
  -webkit-animation: fadeIn2 ease 2s;
  -moz-animation: fadeIn2 ease 2s;
  -o-animation: fadeIn2 ease 2s;
  -ms-animation: fadeIn2 ease 2s
}

#inblocks .anim-3 {
  animation: fadeIn3 ease 2s;
  -webkit-animation: fadeIn3 ease 2s;
  -moz-animation: fadeIn3 ease 2s;
  -o-animation: fadeIn3 ease 2s;
  -ms-animation: fadeIn3 ease 2s
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes fadeIn2 {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes fadeIn2 {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-ms-keyframes fadeIn2 {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0
  }
  70% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes fadeIn3 {
  0% {
    opacity: 0
  }
  70% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn3 {
  0% {
    opacity: 0
  }
  70% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes fadeIn3 {
  0% {
    opacity: 0
  }
  70% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-ms-keyframes fadeIn3 {
  0% {
    opacity: 0
  }
  70% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes rightLeft {
  0% {
    right: -25%;
    opacity: 0
  }
  100% {
    right: 0;
    opacity: 1
  }
}

@-moz-keyframes rightLeft {
  0% {
    right: -25%;
    opacity: 0
  }
  100% {
    right: 0;
    opacity: 1
  }
}

@-webkit-keyframes rightLeft {
  0% {
    right: -25%;
    opacity: 0
  }
  100% {
    right: 0;
    opacity: 1
  }
}

@-o-keyframes rightLeft {
  0% {
    right: -25%;
    opacity: 0
  }
  100% {
    right: 0;
    opacity: 1
  }
}

@-ms-keyframes rightLeft {
  0% {
    right: -25%;
    opacity: 0
  }
  100% {
    right: 0;
    opacity: 1
  }
}

@keyframes rightLeft2 {
  0% {
    margin-left: 100px;
    opacity: 0;
    width: 255px
  }
  100% {
    margin-left: 0;
    opacity: 1;
    width: 255px
  }
}

@-moz-keyframes rightLeft2 {
  0% {
    margin-left: 100px;
    opacity: 0;
    width: 255px
  }
  100% {
    margin-left: 0;
    opacity: 1;
    width: 255px
  }
}

@-webkit-keyframes rightLeft2 {
  0% {
    margin-left: 100px;
    opacity: 0;
    width: 255px
  }
  100% {
    margin-left: 0;
    opacity: 1;
    width: 255px
  }
}

@-o-keyframes rightLeft2 {
  0% {
    margin-left: 100px;
    opacity: 0;
    width: 255px
  }
  100% {
    margin-left: 0;
    opacity: 1;
    width: 255px
  }
}

@-ms-keyframes rightLeft2 {
  0% {
    margin-left: 100px;
    opacity: 0;
    width: 255px
  }
  100% {
    margin-left: 0;
    opacity: 1;
    width: 255px
  }
}

.table-tokocrypto {
  background-color: #e3f4e9;
  padding-top: 70px;
  padding-bottom: 70px;
  background: url('../images/background/bg-table.jpg') center center/cover no-repeat;
  @media screen and (max-width: 991px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 768px) {
  .table-tokocrypto .data-table-tab ul {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 9px;
  }
}

.table-tokocrypto .data-table-tab ul li a {
  color: #7c7c7c;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 15px 15px;
  width: 80px;
  text-align: center;
  position: relative;
  @media screen and (max-width: 767px) {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .table-tokocrypto .data-table-tab ul li a:after {
    content: '';
    position: absolute;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #1AA74A;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center 0px;
    -ms-transform-origin: left center 0px;
    transform-origin: left center 0px;
    height: 3px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    display: block
  }
}

.table-tokocrypto .data-table-tab ul li a.active,
.table-tokocrypto .data-table-tab ul li a:hover {
  font-family: 'helvetica', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #1AA74A;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.table-tokocrypto .data-table-tab ul li a.active:after,
.table-tokocrypto .data-table-tab ul li a:hover:after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.data-table-tab {
  .dropdown-menu {
    transform: none !important;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    overflow-x: scroll;
    .nav {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 100%;
    }
    .nav-button-table {
      display: none;
    }
    .dropdown-menu {
      display: block !important;
      position: static !important;
      border: 0;
      padding: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .dropdown-menu {
      top: 100% !important;
      margin-top: -8px;
      width: 100%;
      .nav {
        display: block;
        a {
          width: 100%;
        }
      }
    }
  }
}

.table-tokocrypto-head {
  // max-width: 488px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
  @media screen and (max-width: 991px) {
    margin-bottom: 40px;
  }
  h2 {
    color: #ffffff;
    font-size: 28px;
    line-height: 44px;
    @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.table-tokocrypto-bottom {
  /* max-width: 488px; */
  margin: auto;
  text-align: center;
  margin-top: 60px;
  @media screen and (max-width: 991px) {
    margin-top: 40px;
  }
  h2 {
    font-size: 30px;
    line-height: 44px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
      line-height: 28px;
    }
  }
}

.table-tokocrypto-bottom-button{
  margin-top: 15px;
  font-weight: 400;
}

.data-table-tokocrypto {
  background-color: #ffffff;
  padding: 50px 70px 0;
  border-radius: 10px 10px 0 0;
  max-width: 1080px;
  margin: auto;
  @media screen and (max-width: 991px) {
    padding: 16px 16px 0;
    margin: 0 -15px;
  }
}

.dataTables_wrapper .dataTables_filter {
  position: relative;
  margin-top: -60px;
  margin-bottom: 35px
}

.dataTables_wrapper .dataTables_filter label {
  width: 220px
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0;
  border: solid 1px #199c52;
  border-radius: 24px;
  padding: 7px 15px 7px 40px
}
.nav-button-table {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: #1AA74A;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  border: 0;
  border-bottom: 1px solid #DDD;
  background-color: #fff;
  cursor: pointer;
  padding: 5px 15px 10px;
  margin-bottom: 10px;
  &:after {
    border-top: .3em solid #000000;
    float: right;
    margin-top: 9px;
  }
}
.list-table-tokocrypto {
  @media screen and (max-width: 767px) {
    min-width: 767px;
    position: relative;
  }
}
.list-table-tokocrypto thead th {
  font-family: 'helvetica', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  border-bottom: 0;
  text-transform: uppercase;
  padding: 10px 18px;
  white-space: nowrap;
}

.list-table-tokocrypto tbody tr:nth-child(2n+1) {
  background-color: #f0f0f0
}

.list-table-tokocrypto tbody td {
  font-family: 'helvetica', sans-serif;
  font-size: 13px;
  font-weight: 300;
  position: relative;
  text-align: center;
  padding: 9px 16px 8px;
}

.dataTables_scroll {
  position: relative
}

.dataTables_scrollHeadInner {
  width: 100% !important
}

.dataTables_scrollHeadInner .list-table-tokocrypto {
  width: 100% !important
}

.dataTables_scrollBody {
  border-bottom: 0px !important
}

.dataTables_scrollBody .list-table-tokocrypto {
  position: relative;
  width: 100% !important
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  @media screen and (max-width: 767px) {
    overflow: hidden !important;
  }
}

.promo-tokocrypro {
  background: url("../images/background/bg-promo@2x.png") center center/cover no-repeat;
  padding: 50px 0
}

@media screen and (max-width: 991px) {
  .promo-tokocrypro {
    padding: 34px 0 44px
  }
}

.left-promo-tokocrypro {
  color: #ffffff
}

.left-promo-tokocrypro .promo-get-tokocrypro {
  vertical-align: top;
  font-size: 25px;
  font-weight: bold
}

.left-promo-tokocrypro .promo-discount-tokocrypro {
  font-size: 40px;
  font-weight: bold;
  margin: 0 35px;
  line-height: 1.2
}

.left-promo-tokocrypro .promo-discount-tokocrypro small {
  display: block;
  font-size: 15px;
  font-weight: 300
}

@media screen and (max-width: 991px) {
  .left-promo-tokocrypro .promo-discount-tokocrypro {
    display: block;
    margin: 15px 0
  }
}

.right-promo-tokocrypro {
  text-align: right
}

.right-promo-tokocrypro .btn {
  padding: 19px 33px
}

@media screen and (max-width: 991px) {
  .right-promo-tokocrypro {
    text-align: center;
    margin-top: 0
  }
  .right-promo-tokocrypro .btn {
    margin-top: 20px;
    text-transform: none;
    width: 200px
  }
}

.investasi-tokocrypro {
  text-align: center;
  padding-top: 110px
}

.investasi-tokocrypro h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 65px
}

@media screen and (max-width: 991px) {
  .investasi-tokocrypro {
    padding-top: 105px
  }
  .investasi-tokocrypro h2 {
    font-family: 'helvetica', sans-serif;
    font-size: 25px;
    margin-bottom: 35px
  }
}

.inner-investasi-tokocrypro {
  max-width: 210px;
  margin: auto
}

.inner-investasi-tokocrypro h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1b9849
}

@media screen and (max-width: 991px) {
  .inner-investasi-tokocrypro h3 {
    font-family: 'helvetica', sans-serif
  }
}

.inner-investasi-tokocrypro figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  height: 170px;
  align-items: center
}

.inner-investasi-tokocrypro p {
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  line-height: 1.23
}

@media screen and (max-width: 991px) {
  .inner-investasi-tokocrypro p {
    font-family: 'helvetica', sans-serif;
    font-size: 15px;
    line-height: 1.67;
    text-align: center
  }
}

.youtube-tokocrypro {
  max-width: 930px;
  margin: 130px auto -230px;
  text-align: right
}

.youtube-tokocrypro a {
  font-family: 'helvetica', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 35px
}

@media screen and (max-width: 991px) {
  .youtube-tokocrypro {
    margin: 90px auto 0;
    text-align: left
  }
  .youtube-tokocrypro a {
    margin: 30px 0
  }
}

@media screen and (max-width: 767px) {
  .youtube-tokocrypro .videoWrapper {
    margin: 0 -15px
  }
}

.testimonial-tokocrypro {
  background-color: #19C9D6;
  padding: 131px 0 138px;
  @media screen and (max-width: 991px) {
    padding: 70px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 0 65px;
  }
  .inner-testimonial-tokocrypro {
    position: relative;
    p {
      font-size: 30px;
      font-weight: 500;
      color: #000000;
      line-height: 44px;
      margin-bottom: 40px;
      @media screen and (max-width: 991px) {
        font-size: 22px;
        color: #000000;
        line-height: 28px;
        margin-bottom: 30px
      }
      @media screen and (max-width: 767px) {
        text-align: left;
        margin-bottom: 20px
      }
    }
    label {
      font-size: 18px;
      color: #ffffff;
      text-align: right;
      line-height: 25px;
      margin: 0;
      span {
        color: #007CA8;
        text-transform: uppercase;
      }
    }
    &.inner-testimonial-center {
      max-width: 510px;
      margin-left: auto;
      text-align: right;
      @media screen and (max-width: 767px) {
        margin-top: 30px;
        text-align: left;
      }
    }
    &.inner-testimonial-right {
      max-width: 275px;
      margin-left: auto;
      figure {
        border-radius: 50%;
        overflow: hidden;
      }
      @media screen and (max-width: 991px) {
        max-width: 200px;
      }
      @media screen and (max-width: 767px) {
        margin: 40px auto 10px;
      }
    }
  }
}

.media-tokocrypro {
  padding: 110px 0;
  text-align: center;
  @media screen and (min-width: 1300px) {
    .container {
      max-width: 1140px;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 70px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }
}

.media-tokocrypro h2 {
  font-weight: 500;
  font-size: 30px;
  color: #444444;
  text-align: center;
  line-height: 44px;
  margin-bottom: 50px;
  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 35px;
    margin-top: 20px;
  }
}

.media-tokocrypro ul {
  margin: 0;
  justify-content: center;
}

.media-tokocrypro ul li {
  padding: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    min-width: 180px;
  }
  @media screen and (min-width: 992px) {
    min-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .media-tokocrypro ul li {
    max-width: 50%
  }
}

.partner-tokocrypro {
  background: url(../images/background/section-partner@2x.png) center center/cover no-repeat;
  padding: 64px 0 188px;
  .container {
    max-width: 1320px;
  }
  h2 {
    font-size: 30px;
    color: #FFFFFF;
    line-height: 44px;
    margin-bottom: 55px;
  }
  li {
    margin-bottom: 50px;
    @media screen and (min-width: 1270px) {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        margin: 0 -11px 50px;
      }
    }
    @media screen and (min-width: 1270px) and (max-width: 1319px) {
      img {
        max-width: 270px;
      }
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 15px;
    }
    @media screen and (max-width: 767px) {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

.download-tokocrypro {
    text-align: center;
    padding-top: 20px;
    @media screen and (max-width: 991px) {
      padding-top: 0;
      margin-top: -80px;
    }
    @media screen and (max-width: 767px) {
      margin-top: -30px;
    }
    h2 {
      margin: 10px 0 20px;
    }
    .bottom-download-tokocrypro {
      margin-top: 30px;
      background: url(../images/background/download-section_bg.png) center center no-repeat;
    }
}
.header-page ~ .download-tokocrypro {
  margin-top: 0;
  padding-top: 77px;
  @media screen and (max-width: 767px) {
    padding-top: 40px;
  }
}

.faq-tokocrypro {
  background-color: #F0F0F0;
  padding: 89px 0 63px;
  @media screen and (max-width: 991px) {
    padding-top: 65px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 47px;
    h2 {
      font-size: 22px;
      line-height: 28px;
    }
  }
  h3 {
    font-size: 18px;
    color: #007CA8;
    line-height: 25px;
    @media screen and (max-width: 767px) {
      margin: 0;
      padding-bottom: 10px;
      position: relative;
      padding-right: 30px;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid;
        right: 0;
        top: 9px;
      }
      &.clicked:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid;
        border-top: 0;
      }
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    line-height: 25px;
    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }
  .top-faq-tokocrypro {
    margin-bottom: 44px;
  }
  .inner-faq-tokocrypro {
    max-width: 420px;
    margin-bottom: 35px;
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
      padding-top: 5px;
      max-width: 100%;
      padding-left: 17px;
      padding-right: 17px;
    }
    .collapse-faq {
      display: none;
      @media screen and (max-width: 767px) {
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 20px;
      }
      @media screen and (min-width: 768px) {
        display: block !important;
        overflow: visible !important;
        height: 100% !important;
      }
    }
  }
  .bottom-faq-tokocrypro {
    .btn {
      margin-top: 20px;
    }
  }
}

.play-store-tokocrypro {
  margin-top: 20px
}

@media screen and (max-width: 767px) {
  .play-store-tokocrypro {
    text-align: center
  }
  .play-store-tokocrypro img {
    max-width: 180px
  }
}

.newsletter-tokocrypro {
  background-color: #168d94;
  color: #ffffff;
  padding: 43px 0
}

.left-newsletter-tokocrypro {
  max-width: 540px
}

.left-newsletter-tokocrypro p {
  font-size: 25px;
  font-weight: 300;
  margin: 0
}

@media screen and (max-width: 991px) {
  .left-newsletter-tokocrypro {
    text-align: center;
    margin: auto
  }
  .left-newsletter-tokocrypro p {
    font-size: 20px;
    margin-bottom: 45px
  }
}

.right-newsletter-tokocrypro {
  max-width: 380px;
  margin-left: auto
}

.right-newsletter-tokocrypro label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: .5px
}

.right-newsletter-tokocrypro .control-white {
  font-size: 15px;
  font-family: 'helvetica', sans-serif;
  font-weight: 300;
  border-radius: 100px;
  border: solid 1px #979797;
  padding: 18px 21px;
  padding-right: 150px
}

.right-newsletter-tokocrypro .btn {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 12px 39px
}

@media screen and (max-width: 991px) {
  .right-newsletter-tokocrypro {
    text-align: center;
    margin-right: auto
  }
}

.footer {
  padding-top: 90px;
  padding-bottom: 80px
}

@media screen and (max-width: 991px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 50px
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px
  }
}

.foot-menu h5 {
  color: #168d94;
  font-weight: normal;
  margin-bottom: 15px
}

.foot-menu a {
  color: #979797;
  font-size: 17px;
  font-weight: 300;
  margin-top: 7px
}

.foot-menu a:hover {
  opacity: .8
}

@media screen and (min-width: 992px) {
  .foot-menu .foot-social {
    max-width: 200px
  }
}

.foot-menu .foot-social li {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 25px
}

@media screen and (max-width: 359px) {
  .foot-menu .foot-social li {
    margin-right: 23px
  }
}

.foot-menu .foot-social li:last-child {
  margin-right: 0
}

.middle-foot {
  margin-top: 130px;
  color: #646464;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.92
}

@media screen and (max-width: 991px) {
  .middle-foot {
    margin-top: 30px
  }
}

.bottom-foot {
  padding: 40px 0 0;
  margin-top: 100px;
  border-top: solid 1px rgba(151, 151, 151, 0.23);
  line-height: 18px
}

.bottom-foot p {
  font-weight: 300;
  font-size: 18px;
  color: #666666;
  line-height: 25px;
  text-transform: uppercase;
  span {
    font-weight: 600;
    text-transform: none;
  }
}

.bottom-foot ul {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  margin: 0
}

.bottom-foot ul li:not(:last-child) {
  padding-right: 30px
}

.bottom-foot ul li a {
  font-size: 18px;
  color: #666666;
  line-height: 25px;
  .icon-tokocrypto {
    width: 32px;
    height: 24px;
    margin-right: 8px;
    &:before {
      width: 32px;
      height: 24px;
      background-size: 32px;
    }
  }
  &.active, &:hover {
    font-weight: 600;
    color: #000000;
    .icon-tokocrypto {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20);
    }
  }
}

@media screen and (max-width: 767px) {
  .bottom-foot {
    padding: 35px 0 0;
    margin-top: 30px
  }
  .bottom-foot ul {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start
  }
  .bottom-foot ul li a {
    text-transform: none
  }
  .bottom-foot p {
    margin-top: 30px;
    text-transform: none
  }
}

.footer-login {
  padding-top: 79px;
  padding-bottom: 30px
}

.footer-login ul {
  text-align: right
}

.footer-login ul li {
  display: inline-block;
  margin-right: 15px
}

@media screen and (max-width: 359px) {
  .footer-login ul li {
    margin-right: 10px
  }
}

.footer-login ul li:last-child {
  margin-right: 0
}

.footer-login ul li a {
  font-size: 15px;
  font-weight: 300
}

@media screen and (max-width: 359px) {
  .footer-login ul li a {
    font-size: 13px
  }
}

.footer-register {
  padding-top: 50px;
  padding-bottom: 50px
}

@media screen and (min-width: 768px) {
  .footer-register {
    width: 100%;
    padding-right: 50%
  }
}

.footer-register .container {
  max-width: 410px
}

.inner-footer-register {
  max-width: 270px
}

.inner-footer-register p {
  font-size: 15px;
  font-weight: 300
}

.inner-footer-register p a {
  float: right
}

.inner-footer-register .main-lang-list {
  border-top: 1px solid #dddddd;
  padding-top: 29px;
  margin-top: 26px
}

.inner-footer-register .main-lang-list a {
  color: #b4b4b4;
  font-size: 14px;
  margin: 0 7.5px;
  text-align: center
}

.inner-footer-register .main-lang-list a .icon-b {
  width: 100%
}

.inner-footer-register .main-lang-list a .icon-b:before {
  right: 0;
  margin: auto
}

.inner-footer-register .main-footer-menu {
  border-top: 1px solid #dddddd;
  padding-top: 29px;
  margin-top: 26px
}

.inner-footer-register .main-footer-menu li {
  display: inline-block
}

.inner-footer-register .main-footer-menu li:not(:last-child) {
  margin-right: 24px
}

.inner-footer-register .main-footer-menu li a {
  font-size: 15px;
  font-weight: 300
}

.aset-tokocrypro {
  padding-top: 95px;
  padding-bottom: 95px
}

@media screen and (max-width: 991px) {
  .aset-tokocrypro {
    padding-top: 30px;
    padding-bottom: 30px
  }
}

.inner-aset-left {
  max-width: 799px
}

.dynamic-content {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 100px
}

@media screen and (max-width: 991px) {
  .dynamic-content {
    padding-bottom: 35px
  }
}

.dynamic-content h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 35px
}

.dynamic-content figure {
  margin-bottom: 30px
}

.dynamic-content p {
  font-size: 15px;
  font-weight: 300
}

.page-title {
  font-size: 30px;
  color: #444444;
  line-height: 44px;
  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 1rem;
  }
}

.aset-help-not {
  padding-top: 30px
}

.aset-help-not span {
  font-size: 18px;
  font-weight: 300
}

.aset-help-not ul {
  max-width: 320px;
  border-top: 1px solid #dcdcdc;
  margin-top: 26px;
  padding: 12px;
  text-align: center
}

@media screen and (max-width: 991px) {
  .aset-help-not ul {
    margin-bottom: 65px
  }
}

.aset-help-not ul li {
  width: 50%;
  line-height: 38px
}

.aset-help-not ul li:first-child {
  border-right: 1px solid #dcdcdc
}

.aset-help-not ul li a {
  font-size: 15px;
  font-weight: 300
}

.inner-aset-right {
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(158, 210, 181, 0.67);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #027fa7, #3ba762);
  background-image: linear-gradient(to bottom, #fff, #fff), linear-gradient(to bottom, #027fa7, #3ba762);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden
}

.inner-aset-right .side-aset-right {
  padding: 22px 22px 110px
}

@media screen and (max-width: 991px) {
  .inner-aset-right .side-aset-right {
    padding-bottom: 25px
  }
}

.side-aset-search {
  position: relative;
  margin-bottom: 25px
}

.side-aset-search .form-control {
  font-size: 15px;
  border: solid 1px #979797;
  border-radius: 10px;
  padding-right: 30px
}

@media screen and (max-width: 991px) {
  .side-aset-search .form-control {
    padding: 14px 30px 14px 14px
  }
}

.side-aset-search .icon-search {
  left: auto;
  right: 8px;
  top: -2px
}

@media screen and (max-width: 991px) {
  .side-aset-search .icon-search {
    top: 7px
  }
}

.side-aset-search .icon-search:before {
  border: solid 1px #979797
}

.side-aset-search .icon-search:after {
  background-color: #979797
}

.first-acordion-menu {
  padding-left: 0;
  margin: 0;
  list-style: none
}

.first-acordion-menu h4 {
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin: 0;
  position: relative;
  border-top: solid 1px #e4e4e4;
  padding: 10px 0 15px
}

.first-acordion-menu h4:not(.clicked):before,
.first-acordion-menu h4:not(.clicked):after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #979797;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 6px;
  top: 21px
}

.first-acordion-menu h4:not(.clicked):after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 0
}

.first-acordion-menu li:first-child h4 {
  border-top: 0
}

.second-acordion-menu {
  display: none;
  padding-left: 0;
  margin: 0 0 20px;
  list-style: none
}

.second-acordion-menu a {
  font-size: 15px;
  font-weight: 300;
  line-height: 28px
}

@media screen and (max-width: 1199px) {
  .side-fixed {
    position: static !important;
    max-width: 100% !important
  }
}

.platform-tokocrypro {
  padding-top: 33px;
}

.inner-platform-tokocrypro {
  max-width: 790px;
  margin: 0 auto 50px;
  p {
    font-size: 18px;
    font-weight: 300;
    color: #666666;
    line-height: 30px;
    margin-bottom: 25px;
    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 1rem;
    }
  }
}

.list-platform-tokocrypro {
  padding-bottom: 70px
}

@media screen and (max-width: 991px) {
  .list-platform-tokocrypro {
    padding-bottom: 35px;
  }
}

.list-platform-tokocrypro {
  text-align: center;
  .platform-list-tokocrypro {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-bottom: 35px;
      padding: 0 40px;
    }
    @media screen and (max-width: 767px) {
      padding-bottom: 1px;
      margin-bottom: 20px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background: #71D9FE;
      border-radius: 3.5px;
    }
    h3 {
      font-size: 40px;
      color: #0BB343;
      line-height: 44px;
      @media screen and (max-width: 767px) {
        font-size: 22px;
        line-height: 28px;
      }
    }
    p {
      font-weight: 300;
      font-size: 18px;
      color: #000000;
      line-height: 30px;
      @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

.tokocrypro-team {
  padding-bottom: 79px;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    background: url('../images/background/background-dotted@2x.png') no-repeat;
    width: 178px;
    height: calc(100% - 79px);
    background-size: 178px 120px;
    background-position: left;
    z-index: -1;
    @media screen and (min-width: 1200px) and (max-width: 1300px) {
      left: -30px;
    }
  }
  &:after {
    right: 0;
    top: 0;
    background-position: right;
    @media screen and (min-width: 1200px) and (max-width: 1300px) {
      right: -30px;
      left: auto;
    }
  }
  @media screen and (max-width: 1024px) {
    &:before {
      bottom: 30px;
      height: 120px;
    }
    &:after {
      top: 30px;
      height: 120px;
    }
  }
  @media screen and (max-width: 767px) {
    &:before {
      bottom: 15px;
      height: 60px;
      background-size: 89px 120px;
    }
    &:after {
      top: 15px;
      height: 60px;
      background-size: 89px 120px;
    }
    padding-bottom: 50px;
  }
  .container {
    max-width: 900px;
  }
  .container-big-team {
    max-width: 980px;
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (max-width: 991px) {
      padding-top: 20px;
      padding-bottom: 0;
      margin-bottom: -15px;
    }
    @media screen and (max-width: 767px) {
      padding-top: 0;
      max-width: 540px;
    }
    figure {
      margin-bottom: 24px;
      img {
        border-radius: 5px;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
  img {
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.30);
  }
  .tokocrypro-team-big {
    max-width: 62.5%;
    img {
      border-radius: 18px;
    }
  }
  .tokocrypro-team-small {
    float: right;
    margin-top: -27.5%;
    max-width: 43.7%;
    img {
      border-radius: 14px;
    }
  }
  @media screen and (min-width: 768px) {
    .col-md-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45.68%;
      flex: 0 0 45.68%;
      max-width: 45.68%;
    }
    .col-md-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 27.16%;
      flex: 0 0 27.16%;
      max-width: 27.16%;
    }
  }
}

.founder-tokocrypro {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  background-color: #F0F0F0;
  @media screen and (max-width: 991px) {
    padding-top: 65px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 44px;
    padding-bottom: 0;
  }
  h2 {
    margin-bottom: 55px;
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}
.inner-founder-tokocrypro {
  max-width: 300px;
  margin: 0 auto 70px;
  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
  figure {
    display: inline-block;
    position: relative;
    margin-bottom: 23px;
    &:before, &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    &:before {
      border: 2px solid transparent;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      left: 3px;
      top: 3px;
    }
    &:after {
      border: 3px solid transparent;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  &:hover {
    figure {
      &:before {
        border-color: #197ff9;
      }
      &:after {
        border-color: #ffffff;
      }
    }
  }
  img {
    box-shadow: 0 4px 18px 0 rgba(0,0,0,0.15);
    border-radius: 50%;
  }
  h3 {
    font-size: 30px;
    font-weight: 500;
    color: #444444;
    text-align: center;
    line-height: 44px;
    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 1;
    }
  }
  span {
    font-size: 18px;
    font-weight: 500;
    color: #666666;
    text-align: center;
    line-height: 25px;
    @media screen and (max-width: 767px) {
      font-size: 10px;
      line-height: 14px;
    }
  }
  p {
    font-size: 14px;
    color: #666666;
    text-align: center;
    line-height: 25px;
    @media screen and (max-width: 767px) {
      font-size: 10px;
      line-height: 14px;
    }
  }
  li {
    margin: 6px 6px 11px;
    a {
      opacity: .4;
      &:hover {
        opacity: 1;
      }
    }
    @media screen and (max-width: 767px) {
      margin: 6px;
    }
  }
}

.creation-tokocrypro {
  padding-top: 90px;
  padding-bottom: 90px;
  background: url('../images/background/background-creation@2x.png') center center/cover no-repeat;
  @media screen and (max-width: 991px) {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .container {
    max-width: 885px;
  }
  h2 {
    color: #0BB343;
    text-align: center;
    max-width: 490px;
    margin: 0 auto 60px;
    @media screen and (max-width: 767px) {
      margin-bottom: 45px;
    }
  }
}
.inner-creation-tokocrypro {
  background-color: #FFFFFF;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,0.15);
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto 40px;
  padding: 25px 60px 30px;
  @media screen and (max-width: 767px) {
    margin: 0 auto 18px;
    padding: 15px;
  }
  figure {
    display: flex;
    height: 120px;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    color: #007CA8;
    text-align: center;
    line-height: 25px;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    line-height: 25px;
    @media screen and (max-width:767px) {
      font-size: 10px;
      line-height: 14px;
      margin-bottom: .5rem;
    }
  }
}

.list-team-tokocrypro {
  display: block;
  position: relative;
  overflow: hidden;
}

.list-team-tokocrypro:hover .team-overlay {
  opacity: 1;
  left: 0
}

.list-team-tokocrypro img {
  width: 100%
}

.list-team-tokocrypro .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  border: solid 1px #979797;
  background-color: rgba(16, 70, 42, 0.8);
  padding: 15px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0
}

.list-team-tokocrypro .team-overlay>div {
  width: 100%
}

.list-team-tokocrypro .team-overlay p {
  font-size: 15px;
  line-height: 1.67;
  color: #ffffff;
  @media screen and (max-width: 767px) {
    font-size: 11px;
  }
}

.list-team-tokocrypro .team-overlay i {
  filter: brightness(0) invert(1)
}

.list-team-tokocrypro .team-overlay .icon-social,
.list-team-tokocrypro .team-overlay .icon-social:before {
  width: 28px;
  height: 28px;
  left: 0;
  background-size: 28px;
  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}

.office-tokocrypro {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  background-image: linear-gradient(-89deg, #1AA74A 0%, #007EA5 100%);
  @media screen and (max-width: 991px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .container {
    max-width: 970px;
  }
  h2, .sub-title {
    color: #ffffff;
  }
}

.inner-office-tokocrypro {
  color:#ffffff;
  max-width: 260px;
  margin: 50px auto 0;
  text-align: left;
  img {
    background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 46%, rgba(0,0,0,0.80) 100%);
    box-shadow: 0 4px 18px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
  }
  h4 {
    font-size: 22px;
    line-height: 28px;
    position: absolute;
    bottom: 5%;
    margin: 0;
    left: 5%;
  }
  p {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 25px;
    margin-top: 30px;
  }
  @media screen and (max-width: 767px) {
    max-width: 300px;
    margin-top: 26px;
    h2 {
      margin-bottom: 10px;
    }
    .position-relative {
      max-width: 50%;
      display: inline-block;
      vertical-align: top;
      padding-right: 15px;
    }
    p {
      max-width: calc(50% - 4px);
      display: inline-block;
      margin: 0;
      font-size: 10px;
      line-height: 18px;
      strong {
        display: block;
      }
    }
    h4 {
      font-size: 12px;
      line-height: 12px;
    }
  }
}


.login-tokocrypro {
  text-align: center
}

.login-tokocrypro .container {
  max-width: 340px
}

.login-tokocrypro h1 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 30px
}

.form-login-tokocrypro a {
  font-size: 15px;
  font-weight: 300
}

.form-login-tokocrypro label {
  font-family: 'helvetica', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 34px
}

.form-login-tokocrypro .form-control {
  font-family: 'helvetica', sans-serif;
  font-size: 15px;
  font-weight: 300;
  border-radius: 10px;
  border: solid 1px #979797;
  padding: 17px 20px;
  text-align: center
}

.form-login-tokocrypro .form-control.form-otp {
  border-radius: 29px;
  padding: 13px 20px
}

.form-login-tokocrypro .form-group {
  margin-bottom: 30px
}

.form-login-tokocrypro .form-group p {
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  margin-top: 25px
}

.form-login-tokocrypro .btn {
  margin-top: 4px
}

.form-login-tokocrypro .form-name {
  white-space: nowrap;
  margin-bottom: 22px
}

.form-login-tokocrypro .form-name span {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 6px
}

@media screen and (min-width: 768px) {
  .register-tokocrypro {
    position: absolute;
    width: 50%;
    right: 0
  }
}

.login-tokocrypro-menu {
  background: url(../images/background/bg-login@2x.png) center center no-repeat;
  padding-bottom: 30px;
  background-size: 700px;
  margin-bottom: 100px;
  @media screen and (max-width: 767px) {
    padding-top: 50px;
  }
  .form-login-tokocrypro {
    max-width: 440px;
    margin: auto;
    text-align: center;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 30px 40px 40px;
    background-color: #fff;
    @media screen and (max-width: 767px) {
      max-width: 400px;
      padding: 30px;
    }
    h1, p {
      margin-bottom: 2rem;
      color: #676767;
    }
    .form-group {
      margin-bottom: 1rem;
    }
    .form-control {
      text-align: left;
      border-radius: 100px;
      padding: 14px 20px;
      font-size: 14px;
      background-color: #f8f8f8;
    }
    .btn {
      margin-top: 25px;
    }
    .to-login {
      color: #4fac27;
      text-decoration: underline;
      font-weight: 400;
    }
    .forgot-password, .forgot-email {
      color: #20aa54;
      font-weight: 600;
      margin-top: 30px;
    }
    .bottom-foot {
      text-align: left;
      padding-top: 25px;
      margin: 0;
      border: 0;
      ul {
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
      }
    }
  }
}

.form-register-tokocrypro,
.form-registerotp-tokocrypro {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.49);
  padding: 40px 42px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 420px
}

@media screen and (min-width: 768px) {
  .form-register-tokocrypro,
  .form-registerotp-tokocrypro {
    text-align: center
  }
}

.form-register-tokocrypro h2,
.form-registerotp-tokocrypro h2 {
  font-family: 'helvetica', sans-serif;
  font-size: 17px;
  font-weight: bold
}

.form-register-tokocrypro label,
.form-registerotp-tokocrypro label {
  font-size: 12px;
  color: #ff0000;
  margin-bottom: 10px
}

.form-register-tokocrypro .form-group,
.form-registerotp-tokocrypro .form-group {
  margin-bottom: 24px;
  position: relative
}

.form-register-tokocrypro .form-group p,
.form-registerotp-tokocrypro .form-group p {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 15px
}

.form-register-tokocrypro .form-group.text-left p,
.form-registerotp-tokocrypro .form-group.text-left p {
  font-size: 15px
}

.form-register-tokocrypro .form-control,
.form-registerotp-tokocrypro .form-control {
  font-size: 15px;
  font-weight: 300;
  border-radius: 100px;
  border: solid 1px #dddddd;
  padding: 10px 20px
}

.form-register-tokocrypro .form-control:focus,
.form-registerotp-tokocrypro .form-control:focus {
  box-shadow: 0 0 6px 0 rgba(21, 134, 172, 0.49);
  border-color: #ffffff
}

.form-register-tokocrypro .form-control-password,
.form-registerotp-tokocrypro .form-control-password {
  padding-right: 100px
}

.form-register-tokocrypro .form-example,
.form-registerotp-tokocrypro .form-example {
  font-size: 17px;
  font-weight: 300;
  color: #979797;
  right: 20px;
  position: absolute;
  margin: 0;
  top: 9px
}

@media screen and (max-width: 767px) {
  .form-register-tokocrypro .form-example,
  .form-registerotp-tokocrypro .form-example {
    display: none !important
  }
}

.form-register-tokocrypro .form-display,
.form-registerotp-tokocrypro .form-display {
  position: absolute;
  font-size: 15px;
  font-weight: 300;
  right: 20px;
  top: 11px;
  color: #007aff;
  cursor: pointer
}

.form-register-tokocrypro .form-display span,
.form-registerotp-tokocrypro .form-display span {
  display: block
}

.form-register-tokocrypro .form-display .hide-password,
.form-registerotp-tokocrypro .form-display .hide-password {
  display: none
}

.form-register-tokocrypro .form-password-check,
.form-registerotp-tokocrypro .form-password-check {
  margin-top: 6px
}

.form-register-tokocrypro .form-password-check li,
.form-registerotp-tokocrypro .form-password-check li {
  display: inline-block
}

@media screen and (max-width: 767px) {
  .form-register-tokocrypro .form-password-check li,
  .form-registerotp-tokocrypro .form-password-check li {
    width: 33%
  }
}

.form-register-tokocrypro .form-password-check li:not(:last-child),
.form-registerotp-tokocrypro .form-password-check li:not(:last-child) {
  margin-right: 10px
}

.form-register-tokocrypro .form-password-check .password-check,
.form-registerotp-tokocrypro .form-password-check .password-check {
  position: relative;
  padding-left: 20px;
  text-align: left;
  margin: 0;
  white-space: nowrap
}

.form-register-tokocrypro .form-password-check .password-check:before,
.form-registerotp-tokocrypro .form-password-check .password-check:before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ff0000;
  border-radius: 50px;
  top: 1px
}

.form-register-tokocrypro .form-password-check .password-check.checked:before,
.form-registerotp-tokocrypro .form-password-check .password-check.checked:before {
  background: url("../images/checklist-password-filled@2x.png") center center no-repeat;
  background-size: 16px
}

.form-register-tokocrypro .btn,
.form-registerotp-tokocrypro .btn {
  padding: 12px 25px
}

.form-register-tokocrypro .form-left-submit,
.form-registerotp-tokocrypro .form-left-submit {
  text-align: left
}

.form-register-tokocrypro .form-left-submit span,
.form-registerotp-tokocrypro .form-left-submit span {
  font-size: 13px;
  font-weight: 300
}

.form-register-tokocrypro .form-left-submit a,
.form-registerotp-tokocrypro .form-left-submit a {
  font-size: 15px;
  font-weight: 300
}

.form-register-tokocrypro .form-left-submit+.btn,
.form-registerotp-tokocrypro .form-left-submit+.btn {
  margin-top: 26px
}

@media screen and (min-width: 480px) {
  .form-register-tokocrypro .form-left-submit+.btn,
  .form-registerotp-tokocrypro .form-left-submit+.btn {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0
  }
}

.form-register-tokocrypro ::-webkit-input-placeholder,
.form-registerotp-tokocrypro ::-webkit-input-placeholder {
  font-size: 14px;
  color: #b4b4b4;
  font-weight: 500
}

.form-register-tokocrypro ::-moz-placeholder,
.form-registerotp-tokocrypro ::-moz-placeholder {
  font-size: 14px;
  color: #b4b4b4;
  font-weight: 500
}

.form-register-tokocrypro :-ms-input-placeholder,
.form-registerotp-tokocrypro :-ms-input-placeholder {
  font-size: 14px;
  color: #b4b4b4;
  font-weight: 500
}

.form-register-tokocrypro :-moz-placeholder,
.form-registerotp-tokocrypro :-moz-placeholder {
  font-size: 14px;
  color: #b4b4b4;
  font-weight: 500
}

@media screen and (max-width: 767px) {
  .form-registerotp-tokocrypro {
    margin-bottom: 310px
  }
}

.form-registerotp-tokocrypro .form-control {
  background-color: #f6f6f6
}

.slick-dots li button {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.slick-dots li button:before {
  display: none
}

.slick-arrow:before {
  display: none
}

.slick-arrow {
  position: absolute;
  top: calc(50% - 17px);
  background: url("../images/icon/slider-nav@2x.png") center center no-repeat;
  background-size: 34px;
  cursor: pointer;
  z-index: 1
}

.slick-arrow.icon-arrow-left {
  left: -36px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg)
}

.slick-arrow.icon-arrow-right {
  right: -36px
}

.slick-arrow.slick-disabled {
  opacity: .5;
  cursor: default
}

@media screen and (max-width: 991px) {
  .col-slide-tokocrypto {
    padding: 0
  }
}

.slide-tokocrypto .slick-dots {
  text-align: right;
  padding: 0 2%
}

.slide-testimonial .slick-dots {
  text-align: center;
  bottom: -45px;
}

@media screen and (max-width: 991px) {
  .slide-tokocrypto .slick-dots {
    text-align: center;
    bottom: -30px
  }
}

.slide-tokocrypto .slick-dots li button,
.slide-testimonial .slick-dots li button {
  height: 3px;
  padding: 0;
  background-color: #000000;
  opacity: .23
}

.slide-tokocrypto .slick-dots li button:hover,
.slide-testimonial .slick-dots li button:hover {
  opacity: 1
}

.slide-tokocrypto .slick-dots li.slick-active button,
.slide-testimonial .slick-dots li.slick-active button {
  opacity: 1
}
.slide-testimonial {
  figure img {
    transform: scale(1.5);
    transition: transform .5s ease;
  }
  .inner-testimonial-center {
    opacity: 0;
    transition: all .5s ease;
  }
  .icon-tokocrypto.icon-times {
    transform: rotate(-45deg);
    transition: all 1s ease;
  }
  .slick-active {
    figure img {
      transform: scale(1);
    }
    .inner-testimonial-center {
      opacity: 1;
    }
    .icon-tokocrypto.icon-times {
      transform: rotate(0);
    }
  }
}

.slick-current .list-benefit-tokocrypro .icon-remote:before {
  background: url("../images/icon/icon-remote-working-active@2x.png") center center no-repeat;
  background-size: 93px 90px
}

.slick-current .list-benefit-tokocrypro .icon-flexible:before {
  background: url("../images/icon/icon-flexible-time-default@2x.png") center center no-repeat;
  background-size: 90px
}

.slick-current .list-benefit-tokocrypro .icon-competitive:before {
  background: url("../images/icon/icon-competitive-default@2x.png") center center no-repeat;
  background-size: 79px 90px
}

.slick-current .list-benefit-tokocrypro .icon-book:before {
  background: url("../images/icon/icon-book-default@2x.png") center center no-repeat;
  background-size: 90px 61px
}

.slick-current .list-benefit-tokocrypro .icon-time-personal:before {
  background: url("../images/icon/icon-time-personal-default@2x.png") center center no-repeat;
  background-size: 59px 90px
}

.slick-current .list-benefit-tokocrypro .icon-healthy-insurance:before {
  background: url("../images/icon/icon-healthy-insurance-default@2x.png") center center no-repeat;
  background-size: 71px 90px
}

@media screen and (min-width: 1300px) {
  .container {
    max-width: 1230px
  }
}

@media screen and (min-width: 992px) {
  .mobile-only {
    display: none !important
  }
}

@media screen and (max-width: 991px) {
  .desktop-only {
    display: none
  }
  .foot-menu-social {
    text-align: center;
    margin-bottom: 30px
  }
  .foot-menu-social .icon-social {
    position: relative
  }
  .foot-menu-social .icon-social:before {
    left: 0
  }
}

@media screen and (max-width: 1000px) {
  .scroll-horizontal {
    margin: 0 -15px;
    overflow-y: scroll;
    padding-bottom: 30px
  }
  .min-1000 {
    min-width: 1000px;
    margin-left: 15px;
    margin-right: 15px
  }
}

/*NEW*/
.head-promo {
  background: #0BB343;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  @media screen and (max-width: 991px) {
    padding: 9px;
  }
  span {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
    a {
      color: #FFFFFF;
      font-weight: 600;
    }
  }
  .promo-close-icon {
    background: url("../images/icon/close-modal.svg") center center no-repeat;
    position: absolute;
    background-size: 20px;
    right: 28px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      background-size: 10px;
      right: 14px;
      width: 14px;
      height: 14px;
      top: 16px;
    }
  }
}
.sub-title {
  font-size: 18px;
  color: #666666;
  line-height: 25px;
  margin-bottom: 7px;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 14px;
  }
}
.video-tokocrypro {
  background: url("../images/background/section-video@2x.png") center center/cover no-repeat;
  padding: 170px 0;
  @media screen and (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 65px;
    text-align: center;
  }
  @media screen and (max-width: 767px) {
    padding-top: 35px;
    padding-bottom: 33px;
  }
  .container {
    @media screen and (min-width: 1200px) {
      max-width: 1206px;
    }
  }
  .inner-videotokocrypro-left {
    display: block;
    max-width: 720px;
    position: relative;
    img {
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.25);
      border-radius: 10px;
    }
  }
  .inner-videotokocrypro-right {
    text-align: right;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
    h2 {
      font-weight: 500px;
      font-size: 30px;
      color: #444444;
      line-height: 44px;
      margin-bottom: 41px;
      @media screen and (max-width: 767px) {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 35px;
        margin-top: 20px;
      }
    }
  }
}

.job-tokocrypro {
  background-color: #F0F0F0;
  padding: 90px 0 75px;
  @media screen and (max-width: 991px) {
    padding: 65px 0 45px;
  }
  @media screen and (max-width: 767px) {
    padding: 45px 0 35px;
  }
  .container {
    max-width: 1014px;
  }
  .nav {
    margin-top: 32px;
    margin-bottom: 57px;
    @media screen and (max-width: 767px) {
      margin-top: 27px;
      margin-bottom: 32px;
    }
    li {
      margin: 0 15px;
      @media screen and (max-width: 767px) {
        margin: 0 5px;
      }
    }
    a {
      background-color: #73E699;
      border: 1px solid #0BB343;
      border-radius: 33.5px;
      padding: 6px 10px;
      min-width: 180px;
      font-size: 18px;
      color: #0BB343;
      text-align: center;
      line-height: 28px;
      white-space: nowrap;
      @media screen and (max-width: 767px) {
        min-width: auto;
        font-size: 12px;
        padding: 0 14px;
      }
      &.active, &:hover {
        background-color: #007CA8;
        border: 1px solid #005B7B;
        color: #FFFFFF;
      }
    }
  }
  .inner-job-tokocrypro {
    background: #FFFFFF;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 16px 20px;
    display: block;
    max-width: 300px;
    margin: 0 auto 42px;
    @media screen and (max-width: 991px) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }
    .top-job-tokocrypro {
      margin-bottom: 15px;
    }
    h4 {
      font-size: 18px;
      color: #007CA8;
      line-height: 25px;
      margin-bottom: 13px;
    }
    p {
      font-size: 14px;
      color: #666666;
      line-height: 25px;
      margin: 0;
    }
    label {
      font-size: 14px;
      color: #666666;
      line-height: 18px;
      font-weight: 500;
      position: relative;
      padding-left: 20px;
      margin-bottom: 19px;
      &:before {
        content: '';
        position: absolute;
        background: url('../images/icon/icon-briefcase.png') no-repeat;
        width: 15px;
        height: 15px;
        background-size: 15px;
        left: 0;
      }
    }
    .btn {
      padding: 16px 48px;
      @media screen and (min-width: 768px) and (max-width: 800px) {
        padding: 16px 22px;
      }
    }
  }
}