.secondary-appbar {
  background: $color-secondary !important;
}

.menu-icon {
  float: left;
  margin-right: 5px;
}

.menu-icon-active {
  color: $color-primary !important;
}

.active-menu {
  color: $color-primary !important;
  border-bottom: solid 2px;
}
