.buy-sell-header-text{
    font-size: 24px;    
    font-weight: 900;
}

.buy-sell-how-much{
    font-size: 16px;
    font-weight: 800;
}

.buy-sell-header-container{
    border-bottom: 2px solid #aaaaaa45;
    padding-bottom: 30px;
}

.idr-input{
    margin-top: 24px;
}

.fiat-input{
    margin-top: 10px;
    margin-bottom: 24px;
}

.buy-sell-input-container{
    display: inline-flex;
}

.buy-sell-maxmin-container{
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    color: grey;
    margin-top: 5px;
    padding-left: 0px;
    p{
        padding-right: 0px;
    }
}

.buy-sell-operation-header{
    background-color: #eff3f8;
    padding: 10px 0px 10px 20px;
    font-weight: bold;
    margin-top: 15px;
}

.buy-sell-operation-details{
    padding: 10px 0px 10px 20px;
    border: 2px solid #eff3f8;
}

.buy-sell-inputs{
    border-right: none !important;
    border-left: none !important;
}

.buy-sell-inputs{
    text-align: right !important;
}

.input-group-addon {
    padding: 13px 16px !important;
    border-radius: 0px !important;
    color: grey !important;
    background-color: #eceeef00 !important;
}

.buy-sell-swtich-button{
    border: 1px solid rgba(0, 0, 0, 0.15);
    // background-color: #80808000;
    border-right: none;
    background-color: rgba(128, 128, 128, 0);
}

.buy-sell-exchnage-icon{
    transform: rotate(90deg);
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.buy-sell-operation-notice{
    font-size: 14px;
    color: grey;
}

.XRP-Wallet-icon{
    line-height: 1;
    color: #5e6167;
}

.DGX-Wallet-icon{
    line-height: 1;
    color: #5e6167;
}

.account-custom-img{
    width: 30px;
    float: left;
    margin-right: 0.8rem;
    vertical-align: middle;
    margin-top: 16px;
}

.account-wallet-button-container {
    margin-left: 1.8rem !important;
    margin-top: 16px !important;
}

.account-wallet-button-container button {
    margin-right: 10px !important;
}
// .row{
//     margin-left: 0px !important;
//     margin-right: 0px !important;
// }