.captcha-container {
    transform:scale(0.70);-webkit-transform:scale(0.70);transform-origin:0 0;-webkit-transform-origin:0 0;
}

@media (min-width: 768px) { 
    .captcha-container {
        transform:scale(1) !important;
        -webkit-transform:scale(1) !important;
        transform-origin:0 0 !important;
        -webkit-transform-origin:0 0 !important; 
    }
}

@media (max-width: 320px) { 
    .captcha-container {
        transform:scale(0.60) !important;
        -webkit-transform:scale(0.60) !important;
        transform-origin:0 0 !important;
        -webkit-transform-origin:0 0 !important; 
    }
}