.send-recieve-btn {
  background-color: $color-grey;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5%;
  font-size: 16px;
}

@media (max-width: 700px) { 
  .send-recieve-btn {
    font-size: 14px;
  }
}

.send-recieve-btn:hover {cursor: hand; cursor: pointer;}

.primary-coin {
  color: $color-primary;
}

.primary-coin > span {
  color: $color-primary;
}

.coin-name {
  margin-left: 20px;
}

.coin-name > h6 {
  color: $color-grey;
}

.coin-row {
  margin-top: 20px;
}

.coin-buy {
  color: $color-success;
  font-size: 22px
}

.coin-sell {
  color: $color-danger;
  font-size: 22px
}

.exchange-icon {
  text-align: center;
  vertical-align: center;
  margin-top: 5%;
}

.flag-circle {
  border-radius: 50%;
  border: solid #000 1px;
}

.virtual-buttons-trasnactions-holder{
  display: inline-flex;
  margin: auto;
}

.wallet-buttons{
  color: #2a3134;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 37px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.wallet-buttons:hover{
  color: #2261ef;
}

.virtual-inside-container{
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
}

.accountBalance-container{
  // display: inline-flex;
}