.deposit-idr-code{
    color: #258df2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.deposit-idr-code:hover{
    color: #202e47;
}