.status-item-history {
  display:flex;
  align-items:center;
  font-weight: 900;
  font-size: 16px;
  color: #535151;

  img{
    width: 10px;
    margin-right: 10px;
  }
}

.btn-history-pending{
  color: #f39c12;
  font-weight: bold;
}

.btn-history-success{
  color: #27ae60;
  font-weight: bold;
}

.btn-history-container{
  display: inline-flex;
  font-size: 16px;
}

.btn-history-date{
  margin-left: 10px;
  font-size: 14px;
  color: #989797;
}

.history-transactions-details{
  font-size: 16px;
  color: #535151;
}

.history-transactions-details-id{
  font-weight: bold;
  color: #535151;
}

.history-transactions-details-id:hover{
  color: #258df2;
}

@media (max-width: 700px) { 
  .history-item h5 {
    font-size: 16px;
  }
}