.transactions-main{
  margin-top: 50px;
}

.transactions-main-container{
  display: block;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link:hover {
  color: #535151 !important;
  font-weight: 900 !important;
  background-color: #fff0 !important;
  border-color: #eceeef00 #eceeef00 #0275d8 #ddd0 !important;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.account-trasnaction-profitloss{
  font-size: 12px !important;
  text-align: center;
  color: #a5a5a5 !important;
  display: inline-flex !important;
  height: 100%;
  align-items: center;
  float: right;
}

.account-trasnaction-profitloss-amount-high{
  color:#1aa64a
}

.account-trasnaction-profitloss-amount-low{
  color: #e64043;
}

@media (max-width: 700px) { 
  .nav-link {
    font-size: 14px;
  }
  .btn-history {
    font-size: 14px !important;
  }
}

@media (max-width: 568px) { 
  .nav-link {
    font-size: 12px;
  }

  .transactions-main-container {
    display: block !important;
  }

  .btn-history-container {
    display: block !important;
  }

  .btn-history-date {
    margin-left: 0px !important;
  }

  .history-conversions-buttons {
    margin: 0px !important;
  }
}