.history-item {
  border-bottom: 2px solid #ebebeb;
  padding: 10px 10px 15px 10px;
}

.history-item-conversions{
  border-bottom: 2px solid #ebebeb;
  padding: 20px 10px 15px 10px;
}

.btn-history-buy{
  background-color: #1cd9b3;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  color: #fff;
}

.btn-history-sell{
  background-color: #f03e4d;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  color: #fff;
}

.header-history{
  color: #4b4b4b;
  font-weight: 800;
}

.history-coversions-details{
  color: #535151;
  font-weight: 900;
  font-size: 16px;
}

.history-coversions-dealer{
  color: #989797;
  font-weight: 800;
}

.history-conversions-date{
  font-size: 14px;
  color: #bebbbb;
}

.history-conversions-container{
  padding-left: 0px;
  padding-right: 0px;
}

.history-conversions-buttons{
  margin: auto;
}

@media (max-width: 700px) { 
  .history-item {
    font-size: 12px;
  }
}