.wallet-box {
  background-color: $color-grey-light;
  padding: 10px;
}

.verify-box {
  background-color: $color-grey-light;
  padding: 10px;
}

.app-headings{
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 25px;
}

.idr-balance-container{

  // display: none;
}

.qr-img{
  width: 100px;
}

.middle-container{
  display: inline-flex;
}

.idr-balance{
  font-weight: 600;
  color: #fff;
  font-size: 25px;
}

.inside-container{
  padding: 32px;
  text-align: center;
}

.virtual-inside-container{
  padding: 40px 15px 25px 30px;
}

.idr-flag-img{
  width: 25px;
  height: 15px;
  vertical-align: baseline;
}

.buttons-container-hr{
  display: inline-flex;
  color: #fefefea3;
  font-weight: 200;
  font-size: 15px;
  margin-top: 15px;
}

.buttons-trasnactions{

  display: inline-flex;
  margin-right: 20px;
  font-size: 12px;

  background-color: #3a71ed;
  padding: 10px 28px 10px;

  img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

}

.balance-container{
  // -webkit-box-shadow: -2px 2px 28px 6px rgba(235,235,235,1);
  // -moz-box-shadow: -2px 2px 28px 6px rgba(235,235,235,1);
  // box-shadow: -2px 2px 28px 6px rgba(235,235,235,1);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #fff;
}

.accounts-header-image{
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.accounts-header-text{
  font-size: 20px;
  font-weight: 900;
}

.accounts-header{
  display: inline-flex;
}

.account-balance{
  font-size: 24px;
  color: #2261ef;
  font-weight: 800;
}

.account-rate-balance{
  font-weight: 800;
}

.virtual-buttons-trasnactions{
  color: #2c60db;
  border: 2px solid #2c60db;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;

  .recive-button{
    background-color: #0667d0;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .send-button{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.virtual-two-containers{
  display: block;
  // width: 100%;
}

.virtual-buttons-container{
  // display: inline-flex;
}

.data-container{
  display: block!important;
}

.main-container{
  // display: inline-flex;
}

.buy-sell-container{
  display: inline-flex;
}

.buy-sell-button-container{
  display: inline-flex
}

.buy-sell-buttons{
  background-color: #2261ef;
  color: #fff;
  padding: 10px 45px 10px 20px;
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
}

.buy-sell-buttons:hover{
  background-color: #143071;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.Buy-sell-header{
  display: block;
  width: 100%;
}

.chart-container{
  margin-top: 50px;
  border-radius: 10px;
  padding-bottom: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.chart-header{
  display: block;
  // padding: 30px 0px 10px 10px;
  width: 100%;
  i{
    color: #2261ef;
  }
  p:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  p:hover{
    border-bottom: solid 2px #258df2;
    color: #258df2;
  }
}

.ohlc-wrapper {
  margin-left: 0px !important;
}

.ohlc-text {
  font-size: 14px;
}

.ohlc-indicator {
  color: #0d73d7;
  margin-left: 20px;
}

.rising {
  color: #0f9d58
}

.falling {
  color: #a52714
}

.chart-buttons{
  display: inline-flex;
  margin: auto;
}

.accountBalance-container{
  // margin-right: 20px;
  background-color: #eff3f8;
}

.accountBalance-header{
  margin-top: 30px;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.inside-data{
  height: 100px;
  /* display: table; */
  width: 100%;
  position: absolute;
  background-color: #002e6e;
  height: 210px;
}

.main-account-balance-container{
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: white;
  padding: 26px;
  display: inline-flex;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main-account-balance{
  font-weight: 600;
  font-size: 18px;
  color: rgb(142, 141, 141);
}

.main-account-buttons{
  button{
    border: 2px solid #d2d2d2;
    padding: 8px 22px 10px 22px;
    background-color: #ded5d500;
    color: #eaeaea;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
  }
  button:hover{
    background-color: #2c60db;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
}

.main-account-balance-amount{
  font-size: 22px;
  font-weight: bold;
}

.ratings-updates{
  margin-bottom: 12px;
  font-weight: 900;
}

.up-flag-img {
  width: 15px;
  height: 12px;
  vertical-align: baseline;
}

.up-rates-image{
  font-size: 15px;
  font-weight: 600;
  color: #d90022;
}

// .main-account-balance{
//   font-size: 22px;
//   font-weight: bold;
// }

.information-container{
  margin-top: -30px;
}

.accountBalance-header-idr{
  position: absolute;
  /* z-index: 40000; */
  background-color: #005082;
  width: 100%;
  height: 50%;
  margin-right: 0px;
  margin-left: -15px;
  margin-top: -15px;
}

.chart-date-container div{
  cursor: pointer;
}

.chart-date-container div:hover{
  color: #2261ef;
  font-weight: bold;
}

.chart-pro-button-text{
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}

.chart-pro-button{
  float: right;
  padding: 0.6rem 2rem !important;
  color: #fff!important;
}

.chart-pro-button:hover{
  background: -webkit-gradient(linear, left top, right top, from(#1c8841), to(#1d6a82))!important;
  background: -webkit-linear-gradient(left, #1c8841, #1d6a82)!important;
  background: -o-linear-gradient(left, #1c8841, #1d6a82)!important;
  background: linear-gradient(to right, #1c8841, #1d6a82)!important;
}

.chart-pro-button:active{
  background: -webkit-gradient(linear, left top, right top, from(#1c8841), to(#1d6a82))!important;
  background: -webkit-linear-gradient(left, #1c8841, #1d6a82)!important;
  background: -o-linear-gradient(left, #1c8841, #1d6a82)!important;
  background: linear-gradient(to right, #1c8841, #1d6a82)!important;
}

.width100{
  width:100%; 
}

.dashboard-chart-data-minmax{
  display: inline-flex;
}

.dashboard-chart-data-lower-text{
  font-size: 10px;
}

.dashboard-chart-data-upper-text{
  font-size: 7px;
}

.dashboard-chart-data-upper-text{
  font-size: 15px;
}

.dashboard-chart-data-monthly-change{
  color: #ffffff;
  font-weight: 600;
  padding: 5px;
  border-radius: 13px;
  width: 65%;
  font-size: 15px;
}

.btn.dropdown-toggle:after, .nav-link.dropdown-toggle:after{
  float: right;
  padding-right: 15px;
  font-weight: bold;
  top: 1.5em!important;
}

.currency-dropdown-selector:hover{
  background: #e8e7e7;
}

.order-now-widget {
  //height: calc(100vh - 330px) !important;
  -webkit-box-shadow: 0 2px 7px 0 rgba(157,164,190,0.40) !important;
  -moz-box-shadow: 0 2px 7px 0 rgba(157,164,190,0.40) !important;
  background: #FFFFFF;
  box-shadow: 0 2px 7px 0 rgba(157,164,190,0.40) !important;
  border-radius: 4px;
}

.buy-estimated{
  font-size: 12px;
  color: #777777;
  padding: 9px 9px 9px 9px !important;
}

.limit-market-field {
  font-size: 12px;
  letter-spacing: 0;
  color: #777777;
  padding: 9px 15px;
  justify-content: center;
}

.order-book-model .modal-content{
  width: 1000px
}

.order-book-tables-price-container th{
  text-align: center;
}

.pagination>li>a, .pagination>li>span{
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.pagination>li {
  display: inline;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
  margin-bottom: 0px;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}


.dropdown-item.active, .dropdown-item:active {
  color: #16181b!important;
  text-decoration: none;
  background-color: #eeeeee!important;
}

.dashboard-wallets-accounts-container{
  display: inline-flex;
  padding-right: 0px;
}

.dashboard-custom-buy-sell-vip{
  width: 280px;
}

@media only screen and (max-width: 415px) {
  .app-headings {
    margin-bottom: 15px;
  }

  .main-container {
    display:block;
  }

  .account-balance {
    font-size: 20px;
  }

  .data-container{
    margin-bottom: 20px;
  }

  .virtual-two-containers{
    display: block;
  }

  .buy-sell-container {
    display: block;
  }

  .Buy-sell-header {
    margin-top: 30px;
  }

  .chart-header {
    display: block;
  }

  .chart-buttons {
    margin-top: 20px;
  }

  .chart-date-container {
    margin-top: 20px;
  }

  .buy-sell-buttons {
    font-size: 10px;
  }

  .virtual-buttons-trasnactions {
    padding: 10px 20px 10px 22px;
    width: auto;
    margin-right: 10px;
  }

  .header-menu-drop {
    display: block;
    margin-left: 35px;
  }

  .dashboard-chart-data-lower-text{
    font-size: 7px;
  }

  .dashboard-chart-data-lower-button{
    margin-top: 20px;
  }

  //.order-now-widget {
  //  height: calc(100% - 2.2rem) !important;
  //}

  .dashboard-wallets-accounts-container{
    display: block;
  }
}

@media only screen and (max-width: 1300px) {
  .dashboard-chart-data-monthly-change{
    font-size: 13px;
  }

  .dashboard-custom-buy-sell-vip{
    width: 220px;
  }
}

@media only screen and (max-width: 1025px) {
  .chart-pro-button-text{
    display: block;
    margin-top: 15px;
  }
  
  .chart-pro-button{
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px !important;
    float: none;
  }
  
  .width100{
    width:100%; 
  }
}

@media only screen and (max-width: 375px) {
  .buttons-trasnactions {
    padding: 10px 15px 10px;
  }

  .idr-balance {
    font-weight: 800;
    color: #fff;
    font-size: 23px;
  }

  .virtual-buttons-trasnactions {
    padding: 10px 20px 10px 17px;
    width: auto;
    margin-right: 8px;
  }

  .dashboard-chart-data-upper-text{
    font-size: 7px;
  }

}

@media only screen and (max-width: 376px) {
  .dashboard-chart-data-upper-text{
    font-size: 11px;
  }

}