.stepwizard-row:before {
    top: 18px !important;
}

.stepwizard-step a{
    line-height: 1.6;
    font-weight: 600;
}

.stepwizard-step p {
    margin-top: 10px;
    font-weight: 600;
    color: #9DA1A8;
}

.stepwizard {
    margin-top: 35px;
    margin-bottom: 35px;
}

.postal-code input[type=number]::-webkit-inner-spin-button, 
.postal-code input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}