.warning-text {
  font-size: 11px;
  color: $color-danger;
}

.user-profile-user-details-header{
  display: inline-flex;
  width: 100%;
}

.profile-user-discounts-precentage {
  font-size: 12px;
  letter-spacing: 0;
  margin-left: auto;
  // padding-right: 8px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.profile-user-discounts-precentage span{
  color: #017ea6;
  letter-spacing: 0;
  text-align: left;
  font-weight: 800;
}

.profile-user-discounts-precentage-mobile{
  font-size: 12px;
  letter-spacing: 0;
  margin: auto;
  margin-left: 50px;
  display: block;
}

.profile-user-discounts-precentage-mobile span{
  color: #017ea6;
  letter-spacing: 0;
  text-align: left;
  font-weight: 800;
}

.user-profile-details-unverified {
  background-color: #027fa4;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-profile-details-unverified:hover {
  background-color: #057090;
}

.profile-user-levels-container{
  display: inline-flex;
  font-size: 11px;
  margin-top: 30px;
  // text-align: center;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.tooltip-custom-arrow:after {
  left: 35%!important;
}

// .profile-user-levels-container:before{
//   width: 70%;
//   left: 60px;
//   height: 10px;
//   content: "";
//   position: absolute;
//   border-bottom: 2px solid #e2dbdb;
// }

.user-level-select{
  padding-left: 0px!important;
  padding-right: 0px!important;
  color: #aba8a8;
  cursor: pointer;
}

.user-level-select span{
  background-color: #fff;
  padding-right: 8px;
  padding-left: 8px;
}

.user-profile-user-container{
  width: 100%;
}

.user-profile-user-details-container{
  width: 100%;
}

.__react_component_tooltip {
  border-radius: 10px;
  color: #716b6b !important;
  font-weight: 300;
  background-color: #eeeeee !important;
  border: 2px solid #c7c1c147;
  letter-spacing: 0px;
  pointer-events: auto !important;
}

.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: #eeeeee;
}

.__react_component_tooltip.type-dark.place-left:after {
  border-left-color: #eeeeee;
}

.__react_component_tooltip.show {
  opacity: 1;
}

.profile-user-discounts-precentage-mobile{
  display: none;
}

.profile-user-levels-inner-container{
  display: inline-flex;
  // margin-right: -15px;
  // margin-left: -15px;
}

.user-profile-level-rocket{
  width: 124px;
  height: 12px;
  margin-top: 3px;
}

.referal-middle-container-text{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.user-profile-container-header{
  background-image: linear-gradient(89deg,#007EA5 0%, #1AA74A 100%);
  box-shadow: 0 2px 6px 0 rgba(157,164,190,0.40);
  color: rgba(255,255,255,0.87);
  font-size: 18px;
  color: rgba(255,255,255,0.87);
  letter-spacing: -0.87px!important;
  line-height: 24px;
  padding: 18px!important;
  border-radius: 6px 6px 0px 0px;
}

.user-profile-button-login-disabled{
  background: #B8B8B8;
  border-radius: 11px;
  border: none;
  color: #FFFFFF;
  padding: 4px 26px 4px 26px;
  font-size: 11px;
  font-family: 'Roboto';
}

.user-profile-button-level-unverified {
  background: #B8B8B8;
  border-radius: 11px;
  border: none;
  color: #FFFFFF;
  padding: 4px 26px 4px 26px;
  font-size: 11px;
  font-family: 'Roboto';
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: top;
  cursor: pointer;
}

.user-profile-button-level-pending {
  background: #F49600;
  border-radius: 11px;
  border: none;
  color: #FFFFFF;
  padding: 4px 26px 4px 26px;
  font-size: 11px;
  font-family: 'Roboto';
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: top;
}

.user-profile-button-level-verified {
  background: #4CB906;
  border-radius: 11px;
  border: none;
  color: #FFFFFF;
  padding: 4px 26px 4px 26px;
  font-size: 11px;
  font-family: 'Roboto';
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: top;
}

.user-profile-button-level-rejected {
  background: #f4516c;
  border-radius: 11px;
  border: none;
  color: #FFFFFF;
  padding: 4px 26px 4px 26px;
  font-size: 11px;
  font-family: 'Roboto';
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: top;
  cursor: pointer;
}

.user-profile-button-level-rejected:hover {
  background: #d4314c;
}

.user-profile-button-level-unverified:hover {
  background: #888888;
}

.user-profile-button-login-enable{
  background: #4CB906;
  border-radius: 11px;
  border: none;
  color: #FFFFFF;
  padding: 4px 26px 4px 26px;
  font-size: 11px;
  font-family: 'Roboto';
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  vertical-align: top;
}

.user-profile-button-login-enable:hover{
  background: #46a707;
}

.user-profile-selected-level-icon svg{
  background: #f49600;
  width: 33px!important;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  padding: 6px;
  border: 2px solid white;
  position: absolute;
  left: 12%;
  top: -21%;
}

.user-profile-selected-level-icon span{
  background-color: rgb(255, 255, 255);
  padding: 7px 17px 7px 30px;
  border-radius: 10px;
  color: rgb(244, 150, 0);
  letter-spacing: 0.1px;
}

.user-profile-levels-bar{
  display: inline-flex;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.87px;
  font-weight: 200;
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
}

.referal-discount-container{
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 8px;
  color: #ffffff;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 200;
  background: #F7F7F7;
}

.discount-off-box{
  background-image: linear-gradient(89deg,#007EA5 0%, #1AA74A 100%);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 10px 10px 10px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
}

.discount-code-input{
  background: #F8F8F8!important;
  border: 1px solid #B8B8B8!important;
  font-weight: 200;
  font-size: 10px!important;
  color: rgba(16,16,16,0.87)!important;
  letter-spacing: 0;
  text-align: left;
  line-height: 17px!important;
  // border-left: 0px!important;
  // padding-left: 0px !important;
  // padding-right: 0px!important;
  border-right: 0px!important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.user-profile-bottom-container{
  padding: 18px;
  border-radius: 30px;
  background: #F7F7F7;
  text-align: center;
}

.user-profile-bottom-container img{
  width: 30px;
  height: 25px;
  text-align: center;
}

.promo-code-add-container{
  padding: 0% 5% 5%;
}

.user-profile-header-inner-upper{
  display: inline-flex;
  width: 100%;
}

.user-profile-header-profile-img{
  position: absolute;
  max-width: 122px;
  left: 20%;
}

.user-profile-header-inner-middle{
  width: 100%;
}

.user-profile-levels-bar-inner-container{
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.1px;
}

.user-profile-header-inner-lower{
  padding: 18px!important;
  display: inline-flex;
}

.user-profile-header-inner-lower-authentication{
  display: inline-flex;
}

.user-profile-header-inner-lower-authentication-types{
  display: inline-flex;
}

.user-profile-header-inner-lower-authentication-email{
  font-size: 14px;
  color: rgba(34, 34, 34, 0.8705882352941177);
  margin-top: 10px;
}

.user-profile-header-inner-lower-authentication-google{
  font-size: 14px;
  color: rgba(34, 34, 34, 0.8705882352941177);
  margin-top: 10px;
  margin-left: 20px;
}

.user-profile-header-inner-lower-authentication-password{
  border: 1px solid rgb(238, 238, 238);
  border-radius: 11px;
}

.user-profile-header-change-password{
  font-size: 11px!important;
  margin-left: 10px;
}

.user-profile-header-inner-lower-status{
  text-align: center;
  top: 50%;
}

.user-profile-header-inner-lower-authentication-renew-password{
  font-size: 12px;
  color: rgba(34, 34, 34, 0.8705882352941177);
  margin-top: 10px;
}

@media only screen and (max-width:1367px) and (min-width:1360px) {
  .user-profile-level-rocket{
    width: 130px;
  }
}

@media only screen and (max-width:1360px) and (min-width:1100px) {
  .user-profile-level-rocket{
    width: 105px;
  }

  .user-profile-header-inner-lower-authentication-email{
    font-size: 10px;
  }

  .user-profile-header-inner-lower-authentication-google {
    font-size: 10px;
  }

  .user-profile-header-inner-lower-authentication-renew-password{
    font-size: 9px;
  }

  .user-profile-button-level-pending {
    padding: 4px 10px 4px 10px;
  }

  .user-profile-bottom-container {
    padding: 12px;
  }
}

@media only screen and (max-width:1100px) and (min-width:600px) {
  .user-profile-user-container {
      display: block;
      text-align: center;
  }
  .user-profile-user-details-container{
    margin-left: 0px;
  }
  .user-profile-user-details-header {
    display: block;
  }
  .profile-user-discounts-precentage-mobile{
    display: block;
    margin-left: 0px;
  }
  .profile-user-discounts-precentage{
    display: none;
  }
  .user-profile-level-rocket{
    width: 60px;
  }
  .referal-container {
    text-align: center;
  }
  .referal-details-container{
    font-size: 10px;
  }
  
  .promo-code-add-container{
    padding: 0% 5% 0%;
  }

  .user-profile-header-inner-upper{
    display: inline-flex;
    text-align: left;
  }

  .user-profile-header-profile-img{
    position: static;
    max-width: 122px;
    left: 20%;
  }
  
  .user-profile-header-inner-middle{
    margin-left: 0px!important;
  }

  .user-profile-levels-bar{
    margin-top: 10px;
    padding: 0px;
  }

  .user-profile-levels-bar-container{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  .user-profile-levels-bar-inner-container{
    font-size: 5px;
  }

  .user-profile-header-inner-lower{
    display: block;
    padding: 20px 0px 20px 0px !important;
  }

  .user-profile-header-inner-lower-container{
    margin-left: 0px!important;
  }

  .user-profile-header-inner-lower-authentication-types{
    display: block;
  }

  .user-profile-header-inner-lower-authentication-google{
    margin-left: 0px;
  }

  .user-profile-header-change-password{
    margin-left: 0px;
  }
  
  .user-profile-header-inner-lower-status{
    margin-bottom: 15px;
    top: 0%;
  }

  .discount-off-box{
    width: 60%!important;
    margin: auto;
  }

  .referal-details-amount-icons{
    width: 46%!important;
  }

  .user-profile-picture {
    width: 100px;
    height: 100px;
  }

  .user-profile-header-inner-middle-text{
    margin: auto;
  }

  .user-profile-bottom-container{
    padding: 8px 0px 19px 50px;
  }

  .user-profile-bottom-container img{
    margin-left: -47px;
  }
}

@media only screen and (max-width:415px) {
  .user-profile-user-details-header{
    display: block;
    width: 100%;
  }

  .tooltip-custom-arrow:after {
    left: -3%!important;
  }  

  .profile-user-discounts-precentage-mobile{
    display: block;
  }

  .profile-user-discounts-precentage{
    display: none;
  }
  .profile-user-discounts-precentage-mobile {
    margin-left: 0px;
  }

  .profile-user-levels-inner-container {
    margin-right: 0px;
    margin-left: 0px;
  }

  .user-profile-level-rocket{
    width: 74px;
    height: 8px;
    margin-top: 4px;
  }

  .promo-code-add-container{
    padding: 0% 5% 0%;
  }

  .user-profile-header-inner-upper{
    display: block;
    text-align: center;
  }

  .user-profile-header-profile-img{
    position: static;
    max-width: 122px;
    left: 20%;
  }
  
  .user-profile-header-inner-middle{
    margin-left: 0px!important;
  }

  .user-profile-levels-bar{
    margin-top: 10px;
    padding: 0px!important;
  }

  .user-profile-levels-bar-container{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  .user-profile-levels-bar-inner-container{
    font-size: 10px;
  }

  .user-profile-header-inner-lower{
    display: block;
    padding: 20px 0px 20px 0px !important;
  }

  .user-profile-header-inner-lower-authentication{
    display: block;
  }

  .user-profile-header-inner-lower-container{
    margin-left: 0px!important;
  }

  .user-profile-header-inner-lower-authentication-types{
    display: block;
  }

  .user-profile-header-inner-lower-authentication-google{
    margin-left: 0px;
  }

  .user-profile-header-inner-lower-authentication-password{
    margin-top: 15px;
  }

  .user-profile-header-change-password{
    margin-left: 0px;
  }
  
  .user-profile-header-inner-lower-status{
    margin-bottom: 15px;
    top: 0%;
  }

  .referal-discount-container {
    display: block;
  }

  .discount-off-box{
    width: 60%!important;
    margin-top: 10px;
  }

  .referal-details-amount-icons{
    width: 46%!important;
  }

}

@media only screen and (max-width:376px) {
  .profile-user-levels-container {
    font-size: 9px;
    margin-top: 20px;
  }

  .user-profile-level-rocket{
    width: 66px;
  }

  // .profile-user-levels-container:before {
  //   width: 68%;
  // }
}

@media only screen and (max-width:360px) {

  .user-profile-level-rocket{
    width: 58px;
  }
}

@media only screen and (max-width:320px) {

  .user-profile-level-rocket{
    width: 38px;
  }
}