.verify-header {
  padding: 10px 0px 10px 10px;
}

.verified-icon {
  text-align: right !important;
  font-size: 25px!important;
}

.collapse-container {
  background-color: #fff;
  padding: 15px;
}

.form-info-list {
  font-size: 12px;
  margin-left: -3%;
  margin-top: 10px;
}

.label-warning {
  background-color: $color-warning;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}