.color-primary {
  color: $color-primary;
}
.remove-btn {
  color: $color-danger !important;
  margin-right: 10px;
}

.boxed {
  border: solid 2px $color-grey;
  border-radius: 10px;
}

.boxed-inner {
  padding: 10px;
  border-bottom: solid 1px $color-grey;
}

.withdraw-idr-code{
  color: #258df2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.withdraw-idr-code:hover{
  color: #202e47;
}

.boxed-inner-action {
  @media(min-width: 800px){
    padding-top: 20px;
  }
}