.main-background-whiteblue {
    background-color: #f4f7fa;
}

.text-header {
    text-align: left;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: -5px;
    margin-left: 1.8rem
}

.custom-img {
    width: 30px;
    float: right;
    margin-right: 1.8rem;
    vertical-align: middle;
    margin-top: -20px
}

.bitcoin-color {
    color: #f89927!important
}

.m--bg-bitcoins {
    background-color: #f89927
}

.etherium-color {
    color: #325080!important
}

.icon-size-sell {
    font-size: 42px;
    color: #34bfa3
}

.icon-size-buy {
    font-size: 42px;
    color: #f4516c!important
}

.trading-size {
    font-size: 35px;
    font-weight: 500
}

.accounts-status-success {
    font-size: 12px;
    font-weight: 400;
    background-color: #1aa64a;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    margin-bottom: 14px;
    color: #fff;
    margin-left: 10px
}

.accounts-status-pending {
    font-size: 12px;
    font-weight: 400;
    background-color: #f89927;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    margin-bottom: 14px;
    color: #fff;
    margin-left: 10px
}

.accounts-wallet-border-bottom:hover {
    border-left: 4px solid #3498db;
    cursor: pointer;
    background-color: #f3f6fa
}

.m-widget20__chart {
    margin-bottom: 20px
}

.idr-image {
    margin-right: 5px;
    margin-top: -2px;
    width: 38px!important;
    height: 40px
}

.pending-text {
    margin-top: 15px;
    margin-bottom: -14px;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.1rem;
    font-weight: 600
}

.trading-desk-container {
    display: inline-flex;
    margin-top: 20px;
    width: 100%
}

.trading-desk-inner-container {
    display: inline-flex;
    width: 100%
}

.active-bitcoins-select {
    border: 1px solid #007ea4!important;
    background-color: #f3f6fa
}

.active-buysell-select {
    border: 3px solid #007ea4!important;
    font-weight: 900!important;
    color: #535151!important
}

.button-padding15 {
    padding: 15px
}

.m-login__logo img {
    width: 300px
}

.eth-recive-model {
    width: 500px
}

.padding15 {
    padding-right: 15px;
    padding-left: 15px
}

.m-bg-green {
    background-color: #27ae60
}

.custom-buy-sell-input {
    border: 1px solid #b1b1b187!important;
    padding: 18px!important;
    font-size: 15px!important;
    font-weight: 500!important;
    color: gray!important
}

.balances-container {
    display: inline-flex
}

.balances-container-boxes {
    display: inline-flex
}

.ticket-padding {
    padding-left: 50px;
    padding-right: 50px
}

.buy-sell-receipt-ribbon {
    width: 40px;
    position: absolute;
    right: 50px
}

.input-group-converstion {
    display: inline-flex
}

.m-widget24 .m-widget24__item .m-widget24__stats {
    margin-top: -2.2rem;
    font-size: 18px;
}

.custom-header-padding {
    padding: 5px 0 0 0!important;
    margin-bottom: 1.8rem
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #007ea4!important
}

.custom-subheader-title {
    padding: 7px 25px 7px 15px!important
}

.m--font-brown {
    color: #fbaf5d!important
}

.btn-brown {
    color: #fff;
    background-color: #fbaf5d;
    border-color: #fbaf5d!important
}

.btn-brown:hover {
    color: #fff;
    background-color: #d8862d;
    border-color: #d8862d!important
}

.btn-green {
    color: #fff;
    background-color: #1aa64a;
    border-color: #1aa64a;
}

.btn-green:hover {
    color: #fff;
    background-color: #138038;
    border-color: #138038
}

.btn-blue {
    color: #fff;
    background-color: #007ea4;
    border-color: #007ea4;
}

.btn-blue:hover {
    color: #fff;
    background-color: #02546d;
    border-color: #02546d;
}

.input-group-append,
.input-group-prepend {
    display: flex;
    align-items: center
}

.input-group-append .btn,
.input-group-prepend .btn {
    position: relative;
    z-index: 2
}

.input-group-append .btn+.btn,
.input-group-append .btn+.input-group-text,
.input-group-append .input-group-text+.btn,
.input-group-append .input-group-text+.input-group-text,
.input-group-prepend .btn+.btn,
.input-group-prepend .btn+.input-group-text,
.input-group-prepend .input-group-text+.btn,
.input-group-prepend .input-group-text+.input-group-text {
    margin-left: -1px
}

.input-group-prepend {
    margin-right: -1px
}

.input-group-append {
    margin-left: -1px
}

.input-group-text {
    padding: .65rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem
}

.input-group-text input[type=checkbox],
.input-group-text input[type=radio] {
    margin-top: 0
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-append:last-child>.input-group-text:not(:last-child),
.input-group>.input-group-append:not(:last-child)>.btn,
.input-group>.input-group-append:not(:last-child)>.input-group-text,
.input-group>.input-group-prepend>.btn,
.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.stepwizard-step {
    width: 20%
}

.dashboard-trading-desk-container {
    width: 100%;
    text-align: center
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.55rem + 2px);
    margin-bottom: 0
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.55rem + 2px);
    margin: 0;
    opacity: 0
}

.custom-file-input:focus~.custom-file-control {
    border-color: #c2c7f3;
    box-shadow: 0 0 0 .2rem rgba(88, 103, 221, .25)
}

.custom-file-input:focus~.custom-file-control::before {
    border-color: #c2c7f3
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse"
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.55rem + 2px);
    padding: .65rem 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.55rem + 2px) - 1px * 2);
    padding: .65rem 1rem;
    line-height: 1.25;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0
}

.wallet-button-container {
    margin-left: 1.8rem!important;
    margin-top: -20px!important;
    margin-bottom: 20px!important
}

.wallet-button-container button {
    margin-right: 10px!important
}

.web-balance {
    float: left!important;
    margin-left: 1.8rem;
    margin-top: -25px!important
}

.web-avaialable {
    width: 100%;
    display: block!important
}

.accounts-wallet-border-bottom {
    border-bottom: 1px solid #ebedf2
}

.accounts-active {
    border-left: 4px solid #3498db;
    background-color: #f3f6fa
}

.user-profile-picture {
    width: 120px;
    height: 120px
}

.user-profile-container {
    padding: 3.2rem
}

.user-profile-user-container {
    display: inline-flex
}

.user-profile-user-details-container {
    vertical-align: baseline;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    line-height: 2
}

.user-profile-login-password-container {
    vertical-align: baseline;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    line-height: 2;
    display: inline-flex
}

.user-profile-details-verified {
    background-color: #27ae60;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px
}

.user-profile-login-password-button {
    margin: auto
}

.user-profile-login-password-button button {
    float: right
}

.user-profile-coming-soon {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 14px;
    font-weight: 600;
    color: gray
}

.buy-sell-wallet-tabs {
    width: 100%;
    border-bottom: none
}

.nav-tabs-borders {
    border: 1px solid #b1b1b187!important
}

.buy-sell-wallet {
    text-align: center!important;
    text-align: center;
    border: 1px solid #b1b1b187;
    border-radius: 5px;
    font-size: 14px!important;
    padding: 18px!important
}

.active-bitcoins-select span {
    font-weight: 900!important;
    color: #535151!important
}

.buy-sell-wallet i {
    font-size: 35px;
    vertical-align: sub
}

.buy-sell-headingh6 {
    color: #5e6167;
    font-size: 16px;
    font-weight: 600
}

.width100 {
    width: 100%
}

.txtaligncenter {
    text-align: center
}

.balances-container-main {
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    border: 1px solid #b1b1b187;
    border-radius: 5px;
    padding: 18px;
    font-size: 14px;
    display: inline-flex
}

.balances-container-boxer-balances {
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 10px
}

.buy-sell-input-label {
    font-size: 20px!important;
    font-weight: 500!important;
    color: gray!important;
    padding: 16px!important
}

.buy-sell-buy-button {
    font-weight: 500;
    margin-top: 30px;
    padding: 15px!important;
    margin-bottom: 35px
}

.nomargins {
    margin-right: 0!important;
    margin-left: 0!important
}

.mtp20 {
    margin-top: 20px
}

.mb20 {
    margin-bottom: 20px
}

.buy-sell-ticket-middle-details {
    margin-bottom: 29px;
    margin-top: 3px;
    text-align: left;
    font-weight: 600;
    padding-top: 30px;
    color: #9b9ca2
}

.buy-sell-ticket-middle-details .i {
    font-size: 37px!important;
    color: #5e6167
}

.buy-sell-middle-heading {
    float: right;
    color: #a1a4a8;
    font-weight: 500;
    text-align: right
}

.buy-sell-middle-subheading {
    float: right;
    color: #5e6167;
    text-align: right;
    line-height: 0;
    font-size: 17px
}

.buy-sell-total {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e9ecef;
    margin-top: 15px
}

.buy-sell-middle-details-heading {
    text-align: left;
    font-weight: 600;
    color: #5e6167
}

.buy-sell-middle-details {
    border-top: 1px solid #b9b7b7a3;
    margin-top: 50px
}

.buy-sell-ticket-header {
    border-bottom: 1px solid #b9b7b7a3;
    padding-bottom: 32px
}

.buy-sell-ticket-header-heading {
    text-align: center;
    font-weight: 600;
    padding-top: 30px;
    color: #9b9ca2
}

.buy-sell-ticket-header-subheading {
    text-align: center;
    margin-top: 0;
    font-weight: 500;
    font-size: 40px;
    color: #2980b9
}

.buy-sell-ticket-header-bottom {
    text-align: center;
    font-weight: 500;
    color: #5e6167
}

.dashboard-trading-desk-tabs {
    padding-left: 0!important;
    padding-right: 0!important;
    border-bottom: none!important
}

.dashboard-trading-desk-tabs-links {
    text-align: center;
    font-weight: 600
}

.dashboard-trading-desk-buy-sell-buttons {
    font-weight: 500;
    margin-top: 30px;
    padding: 18px!important
}

.accounts-trasnactions-tabale-header {
    font-size: 15px;
    font-weight: 700
}

.chart-header {
    display: inline-flex;
    margin-top: 24px;
    border-bottom: 2px solid #ebedf2;
    padding-bottom: 15px
}

.modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
    display: flex;
    align-items: center
}

.txtalignleft {
    text-align: left
}

.deposit-modal-idr {
    padding-left: 120px!important;
    padding-right: 120px!important
}

.react-phone-number-input__icon-image {
    margin-top: -5px
}

.login-inputs {
    color: #555!important;
    background-color: #fff!important;
    background-image: none!important;
    box-shadow: rgba(0, 0, 0, .075) 0 1px 1px inset!important;
    border-width: 1px!important;
    border-style: solid!important;
    border-color: #ccc!important;
    border-image: initial!important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out!important
}

.login-inputs:focus {
    box-shadow: rgba(0, 0, 0, .075) 0 1px 1px inset, rgba(102, 175, 233, .6) 0 0 8px!important;
    border-color: #66afe9!important;
    outline: 0
}

.content-centralized {
    margin: auto
}

.s3-upload-label {
    font-size: 10px
}

.no-trades-accounts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b5b2b2;
    font-size: 16px
}

.accounts-equalAmounts {
    color: #a9a9a9;
    font-size: 14px;
    float: right;
    margin-left: 30px;
    margin-top: -2.2rem
}

.dashboard-equalAmounts-container {
    display: grid;
    text-align: right
}

.dashboard-equalAmounts {
    color: #a9a9a9;
    font-size: 14px;
    float: right
}

.accounts-equalAmounts-container {
    width: 100%;
    padding-right: 60px
}

.active-dashboard-crypto-tabs-btc {
    border-bottom: 3px solid #007ea4!important;
    border-color: #007ea4 #007ea4 #007ea4!important;
    font-weight: 900!important;
    color: #535151!important
}

.active-dashboard-crypto-tabs-eth {
    border-bottom: 3px solid #007ea4!important;
    border-color: #007ea4 #007ea4 #007ea4!important;
    font-weight: 900!important;
    color: #535151!important
}

.dashboard-trading-desk-tabs-links {
    font-size: 14px!important
}

.m-menu__item-here {
    background-image: url(/assets/media/img/bg/tabArrow_SVG.svg);
    background-size: auto;
    background-repeat: no-repeat
}

.buy-sell-dashboard-header {
    padding-bottom: 5px
}

.buy-sell-dashboard-header-subheading {
    text-align: center;
    margin-top: 0;
    font-weight: 500;
    font-size: 28px;
    color: #575962
}

.buy-sell-confrimation {
    height: 100%;
    padding: 130px;
    text-align: center;
    position: relative
}

.buy-sell-confirmation-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%)
}

.buy-sell-confirmation-header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #1aa64a
}

.buy-sell-confirmation-cancel {
    margin-top: 18px
}

.buy-sell-confirmation-cancel a {
    color: #1aa64a!important;
    cursor: pointer
}

.buy-sell-confirmation-cancel a:hover {
    color: #117132!important
}

.buy-sell-confirmation-subheader {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
    margin-bottom: 30px
}

.dashboard-buy-sell-custom-shadow {
    -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .31);
    -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .31);
    box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .31)
}

.flag-select img {
    top: 0!important
}

.m-nav__link-text {
    font-size: 1rem;
    color: #6f727d
}

.flag-select .country-flag .country-label {
    font-size: 1rem!important;
    color: #6f727d
}

.flag-select .selected--flag--option {
    cursor: pointer;
    padding: 6px 8px!important;
    margin-left: 10px;
    border: 1px solid rgba(111, 114, 125, 0.27058823529411763);
    border-radius: 6px;
}

.m-nav__link-title {
    line-height: 36px
}

.language-select {
    margin-right: 12px;
    margin-top: 15px;
    cursor: pointer;
    color: #847b93!important
}

.active-language-select {
    font-weight: 600;
    border-bottom: 1px solid #776e87
}

.buy-sell-precentage-container {
    text-align: center;
    margin-top: 20px
}

.buy-sell-precentage-container a {
    padding: 3px 12px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #bfc2d2;
    margin-right: 10px;
    cursor: pointer
}

.buy-sell-precentage-button-disable {
    pointer-events: none;
    cursor: default
}

.custom-ex-icon {
    font-size: 28px!important
}

#chat,
#chat:after,
.chatbox {
    transition: all .4s ease-in-out
}

#chat,
#close-chat,
.chat-text,
.maxi-button,
.minim-button {
    font-weight: 700;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 20px;
    line-height: 20px
}

.chatbox {
    position: fixed;
    bottom: 0;
    right: 15px;
    margin: 0 0 -1500px;
    background: #219044;
    border-bottom: none;
    padding: 28px 0 10px;
    z-index: 100000;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .11)
}

#close-chat {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 24px;
    width: 20px;
    z-index: 2;
    color: #fff
}

#maxi-chat,
#minim-chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    cursor: default;
    z-index: 1
}

.minim-button {
    position: absolute;
    top: 2px;
    right: 26px;
    font-size: 24px;
    border: 1px solid #dedede;
    width: 20px;
    background: #fefefe
}

.maxi-button {
    position: absolute;
    top: 2px;
    right: 26px;
    font-size: 24px;
    border: 1px solid #dedede;
    width: 20px;
    background: #fefefe
}

.chat-text {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
    font-family: Poppins
}

#chat {
    position: fixed;
    z-index: 20000;
    right: 278px;
    width: 50px;
    height: 50px;
    bottom: 17px;
    background: #34ace1;
    background: linear-gradient(180deg, rgba(52, 172, 225, 1) 0, rgba(42, 161, 219, 1) 51%, rgba(33, 151, 213, 1) 100%);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999
}

#chat i {
    font-size: 20px;
    line-height: 50px
}

#chat:hover {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

.animated-chat {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(.9) rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0)
    }
}

@keyframes tada {
    0% {
        transform: scale(1)
    }
    10%,
    20% {
        transform: scale(.9) rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg)
    }
    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        transform: scale(1) rotate(0)
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada
}

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

#smartchatbox_img901621879 {
    width: 340px;
    height: 490px;
    overflow: hidden;
    margin: auto;
    padding: 0
}

#smartchatbox901621879 {
    width: 340px;
    height: 490px;
    overflow: hidden;
    margin: auto;
    padding: 0;
    border: 0
}

#smartchatboxiframe {
    width: 340px;
    height: 490px;
    border: 0;
    margin: 0;
    padding: 0
}

@media (min-width:576px) {
    .modal-dialog {
        margin: 1.75rem auto
    }
}

@media only screen and (max-width:360px) {
    .captcha-container {
        margin-left: 15%!important
    }
    .m-widget24 .m-widget24__item .m-widget24__change {
        font-size: .9rem
    }
    .accounts-header-wallets {
        font-size: 17px
    }
}

@media only screen and (max-width:320px) {
    .m-widget24 .m-widget24__item .m-widget24__change {
        font-size: .5rem
    }
    .wallet-button-container button {
        margin-right: 5px!important
    }
    #chat {
        right: 250px
    }
}

@media only screen and (max-width:376px) {
    #chat {
        right: 300px
    }
    .chatbox {
        width: 100%;
        right: 0
    }
    #smartchatbox_img901621879 {
        width: 100%;
        height: 94vh
    }
    #smartchatbox901621879 {
        width: 100%;
        height: 94vh
    }
    #smartchatboxiframe {
        width: 100%;
        height: 94vh
    }
}

@media only screen and (min-width:376px) and (max-width:415px) {
    #chat {
        right: 343px
    }
    .chatbox {
        width: 100%;
        right: 0
    }
    #smartchatbox_img901621879 {
        width: 100%;
        height: 95vh
    }
    #smartchatbox901621879 {
        width: 100%;
        height: 95vh
    }
    #smartchatboxiframe {
        width: 100%;
        height: 95vh
    }
}

@media only screen and (max-width:415px) {
    .trading-desk-container {
        display: block
    }
    .trading-desk-inner-container {
        display: block
    }
    .balances-container {
        display: block
    }
    .captcha-container {
        margin-top: 20px;
        margin-bottom: -20px;
        margin-left: 18%
    }
    .mtb25 {
        margin-bottom: 25px
    }
    .mobile-mgbt {
        margin-bottom: 20px!important
    }
    .progress {
        margin-bottom: 10px
    }
    .ticket-padding {
        padding-left: 40px;
        padding-right: 40px
    }
    .input-group-converstion {
        display: block
    }
    .mobile-balance {
        float: left!important;
        margin-left: 1.8rem;
        margin-top: -25px!important
    }
    .mobile-avaialable {
        width: 100%;
        display: block!important
    }
    .mobile-hide {
        display: none
    }
    .mobile-scroll {
        overflow: scroll
    }
    .user-profile-user-details-container {
        vertical-align: baseline;
        display: block;
        margin-top: 10px;
        margin-bottom: auto;
        margin-left: 0;
        line-height: 2;
        text-align: center
    }
    .user-profile-user-container {
        display: block
    }
    .user-profile-user-container img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .deposit-modal-idr {
        padding-left: 40px!important;
        padding-right: 40px!important
    }
    .s3-upload-label {
        font-size: 6px!important
    }
    .accounts-equalAmounts {
        float: left;
        margin-left: 0;
        margin-top: 0rem
    }
    .dashboard-trading-desk-tabs-links {
        margin-top: 20px!important
    }
    .buy-sell-confrimation-container {
        opacity: 0;
        margin-top: 65px
    }
    .buy-sell-confrimation-container.active {
        opacity: 1;
        margin-top: 65px
    }
    .buy-sell-confirmation-inside {
        width: 100%
    }
    .buy-sell-confirmation-subheader {
        padding-left: 0;
        padding-right: 0
    }
    .m-brand {
        background: #f9f9f9
    }
    .m-widget24 .m-widget24__item .m-widget24__change {
        font-size: .9rem
    }
    #chat {
        bottom: 20px
    }
}

@media only screen and (max-width:767px) {
    .dashboard-equalAmounts-container {
        display: block;
        width: 100%;
        text-align: left
    }
    .dashboard-equalAmounts {
        color: #a9a9a9;
        font-size: 14px;
        float: right;
        vertical-align: middle;
        margin-right: 3.8rem;
        margin-top: 2px
    }
}

@media only screen and (min-width:1920px) {
    .m-container.m-container--responsive.m-container--xxl {
        width: 1600px
    }
}

@media only screen and (min-width:2880px) {
    .m-container.m-container--responsive.m-container--xxl {
        width: 2200px
    }
}

@media only screen and (min-width:3000px) {
    .m-container.m-container--responsive.m-container--xxl {
        width: 2800px
    }
}

@media only screen and (min-width:993px) {
    .m-page .m-page__container {
        padding: 0 30px
    }
    .m-page--fluid .m-page .m-page__container {
        padding: 0 80px
    }
    .combined-chart-recent {
        margin-left: -30px;
        box-shadow: 1px 1px 15px 0 rgba(113, 106, 202, .08);
        -webkit-box-shadow: 1px 1px 15px 0 rgba(113, 106, 202, .08);
        -moz-box-shadow: 1px 1px 15px 0 rgba(113, 106, 202, .08)
    }
    .buy-sell-main-container {
        transition: All 1.2015s ease;
        -webkit-transition: All 1.2015s ease;
        -moz-transition: All 1.2015s ease;
        -o-transition: All 1.2015s ease;
        opacity: 1
    }
    .buy-sell-main-container.hide {
        transition: All 1.2015s ease;
        -webkit-transition: All 1.2015s ease;
        -moz-transition: All 1.2015s ease;
        -o-transition: All 1.2015s ease;
        transform: translate(-1000px);
        -webkit-transform: translate(-500px);
        -moz-transform: translate(-500px);
        -o-transform: translate(-500px);
        -ms-transform: translate(-500px);
        opacity: 0
    }
    .buy-sell-receipt-container {
        transition: All 1.2015s ease;
        right: 0;
        width: 450px!important
    }
    .buy-sell-receipt-container.move {
        right: 50%;
        position: absolute
    }
    .buy-sell-confrimation-container {
        opacity: 0
    }
    .buy-sell-confrimation-container.active {
        opacity: 1;
        transition: height .5s 0s, opacity .5s .5s
    }
}

@media only screen and (max-width:992px) {
    .m-page__container {
        padding: 0 20px
    }
    .m-page--fluid .m-page .m-page__container {
        padding: 0 20px
    }
    .m-wizard__form-step {
        padding: 0 20px
    }
    .back-button-kyc {
        position: absolute!important
    }
    .kyc-container {
        padding-left: 15px!important;
        padding-right: 15px!important
    }
}

@media only screen and (max-width:1900px) {
    .buy-sell-receipt-ribbon {
        top: 6px
    }
}
