.referal-icon{
    width: 80px;
    height: 80px;
}

.referal-container{
    display: inline-flex;
    background-image: linear-gradient(19deg, #59D20B 0%, #168A3D 100%);
    border: 1px solid #1AA74A;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 200;
}

.referal-middle-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.referal-button-container{
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.referal-button{
    background: #F49600;
    color: #FFFFFF!important;
    padding: 6px 0px 7px 0px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.referal-button:hover{
    color: #FFFFFF;
}

.referal-link-container{
    margin-top: 10px;
}

.referal-details-container{
    display: inline-flex;
    width: 100%;
}

.referal-details-amount{
    -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
    box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 20px 0px 20px;
    display: inline-flex;
}

.referal-details-button{
    border: 1px solid #007ea4;
    border-radius: 4px;
    padding: 6px 12px 7px 12px;
    float: right;
    cursor: pointer;
}

.referal-details-tabel-button{
    color: #4e545a !important;
    padding: 6px 12px 7px 12px;
    float: right;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    border-radius: 4px;
}

.referal-details-tabel-button:hover{
    background-color: #ecebeb;
}

.referal-details-tabel-button a{
    color: #4e545a !important;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    text-decoration: none;
}

.referal-details-button a{
    color: #007ea4 !important;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
}

.referal-details-follow-container{
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.referal-details-icon{
    width: 88px;
    height: 88px;
}

.referal-details-steps{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.referal-details-steps-details{
    font-size: 14px;
    color: #666666;
    line-height: 21px;
    margin-bottom: 20px;
}

.referal-details-steps-container{
    background-image: linear-gradient(89deg,#007EA5  0%, #1AA74A 100%);
    border-radius: 25px;
    height: 50px;
    display: inline-flex;
    margin-bottom: 20px;
}

.referal-details-steps-number{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.referal-details-steps-number-element{
    background-color: white;
    border-radius: 30px;
    width: 28px;
    height: 28px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 3px 3px 0 3px;
    color: #1aa74a;
}

.referal-details-steps-number-text{
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 3px 3px 0 8px;
    font-weight: 300;
}

.referal-invite-friends-button{
    color: #222222!important;
}

.referal-invite-friends-button:hover{
    color: #FFFFFF!important;
}

.referal-details-works-container{
    padding-left: 15px!important;
    margin-top: 30px;
    margin-bottom: 30px;
}

.referal-details-steps-details-steps{
    font-size: 13px;
    color: #666666;
    line-height: 21px;
}

.referral-details-friends-header-users{
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    color: #4CB906;
    font-weight: 500;
}

.referral-details-friedns-header-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.referral-details-table{
    text-align: center;
    font-size: 12px;
    color: rgba(34,34,34,0.87);
    border: 1px solid #eeeeee;
    color: rgba(34,34,34,0.87);
    margin-bottom: 0px!important;
}

.referral-details-example-table{
    text-align: center;
    font-size: 12px;
    color: rgba(34,34,34,0.87);
    border: 1px solid #eeeeee;
    color: rgba(34,34,34,0.87);
}

.referral-details-example-table thead{
    background-color: #EEEEEE;
}

.referral-details-example-table th{
    color: #222222;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.example-table thead{
    background: #EEEEEE;
}

.referral-details-table-header th{
    color: #222222;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.referral-details-table-date{
    color: rgba(184,184,184,1);
}

.referral-details-tire-icon{
    width: 15px;
    height: 13px;
}

.referral-details-table-data{
    justify-content: center;
    display: inline-flex;
}

.referal-code-input{
    background: #F8F8F8!important;
    border: 1px solid #B8B8B8!important;
    font-weight: 200;
    font-size: 10px!important;
    color: rgba(16,16,16,0.87)!important;
    letter-spacing: 0;
    text-align: left;
    line-height: 17px!important;
    border-left: 0px!important;
    padding-left: 0px !important;
    padding-right: 0px!important;
    border-right: 0px!important;
    letter-spacing: 1px;
}

::placeholder {
    color: #B8B8B8!important;
    opacity: 1; /* Firefox */
}

.referal-code-input-disabled{
    background: #F8F8F8 !important;
    border: 1px solid #B8B8B8 !important;
    font-weight: 200;
    font-size: 10px !important;
    color: rgba(16, 16, 16, 0.87) !important;
    letter-spacing: 0;
    text-align: left;
    line-height: 17px;
    border-right: 0px !important;
    padding: 0.5rem 0.75rem;
    padding-right: 0px;
    letter-spacing: 1px;
}

.referal-code-check-availability{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    color: #B8B8B8;
    letter-spacing: 0;
    text-align: left;
}

.referal-code-animation{
    background: #F8F8F8 !important;
    border: 1px solid #B8B8B8 !important;
    font-weight: 200;
    font-size: 13px !important;
    color: rgba(16, 16, 16, 0.87) !important;
    letter-spacing: 0;
    text-align: left;
    line-height: 16px;
    border-left: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px;
}

.referral-code-loading-img {
    width: 25px;
    height: 25px;
}

.referral-code-success-img {
    width: 18px;
    height: 18px;
}

.referal-code-check-availability-error{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    color: #B8B8B8;
    letter-spacing: 0;
    text-align: left;
    color: #F49600;
}

.referal-code-check-availability-success{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    color: #B8B8B8;
    letter-spacing: 0;
    text-align: left;
    color: #46a707;
}

.refferal-buttons-copy{
    font-weight: 300;
    border: 1px solid #EEEEEE!important;
    border-radius: 4px;
    padding: 6px 12px 7px 12px;
    /* float: right; */
    font-size: 13px!important;
    color: rgba(34,34,34,0.87)!important;
    background-color: #FFFFFF;
    margin-right: 7px;
}

.refferal-buttons-confirm-container{
    display: inline-flex;
}

.refferal-loader img{
    height: 30px !important;
    width: 30px !important;
}

.referal-button:hover {
    background: #e68e02;
}

.refferal-buttons-copy:hover {
    background-color: #ecebeb;
}

.referal-details-button:hover {
    background-color: #ecebeb;
}

.referal-details-button a:hover {
    text-decoration: none;
}

.referral-details-table tr{
    border-bottom: 1px solid #eeeeee;
}

.referal-see-details-button{
    float: right;
}

.referal-program-details-container{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px!important;
    padding-right: 40px!important;
    font-size: 13px;
    color: #666666;
    line-height: 22px;
}

.referral-details-example-table-container{
    margin-left: 20px;
}

.referal-program-details-second-container{
    margin-bottom: 40px;
}

.referral-details-example-table-header{
    font-size: 14px;
    color: rgba(34,34,34,0.87);
    line-height: 16px;
    padding: 15px;
    font-weight: 600;
    border: 1px solid #eeeeee;
    border-bottom: none;
}

.referal-details--middle-table-container{
    display: inline-flex;
}

.referral-details-table-mobile{
    width: 100%;
    height: 452px;
    overflow-y: scroll;
}

.referal-details-header-mobile{
    background: #F5F5F5;
}

.referal-details-commissions-precentage{
    font-size: 15px;
    letter-spacing: 0;
    text-align: right;
}

.referal-details-commissions-precentage span{
    color: #4CB906;
    letter-spacing: 0;
    text-align: left;
    font-weight: 800;
}

.referal-details-header-titles{
    display: inline-flex;
    width: 100%;
}

.referal-details-banner-container{
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-bottom: 2.2rem;
}

.referal-details-banner-container img{
    border-radius: 8px;
}

@media only screen and (max-width:1100px) and (min-width:500px) {
    .referal-container {
        display: block;
    }
    .referal-link-container{
        display: block!important;
    }
    .refferal-confirm-container{
        padding-left: 15px;
    }
}

@media only screen and (max-width:415px) {
    .referal-container{
        display: block;
        text-align: center;
    }

    .referal-middle-container{
        margin-left: 0px;
    }

    .referal-button-container{
        margin-top: 10px;
    }

    .referal-middle-container{
        margin-top: 10px;
    }

    .referal-button{
        margin-right: 0px;
    }

    .refferal-buttons-confirm-container{
        // padding-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .referal-details-container{
        display: block;
    }

    .referal-details-follow-container{
        display: block;
        text-align: center;
    }
    
    .referal-details-steps{
        margin-top: 15px;
    }

    .referal-details-steps-number-element {
        width: 25px;
        height: 20px;
        font-size: 11px;
    }

    .referal-details-steps-number-text {
        font-size: 10px;
    }

    .referal-link-container{
        margin-bottom: 25px;
    }

    .referal-details-works-container {
        margin-top: -15px;
    }

    .refferal-confirm-container{
        margin-left: 0px!important;
        margin-bottom: 10px;
    }

    .referal-details-steps-details{
        font-size: 12px;
    }

    .referal-details-steps-details-steps{
        font-size: 10px;
    }

    .referal-details-header-mobile{
        padding: 10px!important;
    }

    .referal-details-header-text{
        font-size: 11px!important;
    }

    .referal-details-tabel-button a {
        font-size: 11px;
    }

    .referral-details-table{
        font-size: 10px!important;
    }

    .referral-details-friends-header-users {
        font-size: 12px;
    }

    .referral-details-table-mobile{
        overflow: scroll;
    }

    .referal-details--middle-table-container{
        display: block;
    }

    .referal-details-header-titles{
        display: block;
    }

    .referal-details-steps{
       text-align: left;
    }

    .refferal-buttons-copy{
        font-size: 12px!important;
    }

    .referral-details-table-mobile{
        height: 402px;
    }

    .referal-program-details-container{
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .referral-details-example-table-container{
        margin-left: 0px;
    }

    .referal-middle-values-container{
        margin: auto;
    }

    .referal-code-input-disabled{
        font-size: 10px!important;
    }

    .referal-code-input {
        font-size: 10px !important;
    }

    .referal-details-commissions-precentage{
        text-align: left;
    }
}

@media only screen and (max-width:376px) {

    .referral-details-table{
        font-size: 7px!important;
    }
}