.readmin-sidebar {
  position: relative;

  .menudivider {
    padding: $padding-base 0;
  }

  .menu-drawer {
    > div {
      padding-top: $padding-base * 5;
    }
  }


  .an-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 256px;
    z-index: 1000;
    @include transition();
    &.menu-close {
    }

    @media (max-width: 520px) {
      width: 40%;
      z-index: 1400;
    }

    .brand {
      @media (max-width: 520px) {
        font-size: $base-font-small;
        margin-right: $margin-large;
      }
    }

  }
}
