@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('HelveticaNeueLTStd-Lt.eot');
  src: url('HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg'),
       url('HelveticaNeueLTStd-Lt.ttf') format('truetype'),
       url('HelveticaNeueLTStd-Lt.woff') format('woff'),
       url('HelveticaNeueLTStd-Lt.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

