.header-menu-container{
  position: fixed;
  width: 100%;
}

.header-menu-item {

  margin-right: 10px;
  cursor: pointer;
  // hide on mobile
  @media(max-width: 640px){
    display: none;
  }

  // tablet views
  @media(min-width: 641px){
    margin-right: 12px;
    display: block;
  }
  
}

.header-menu-item:hover{
  color: #258df2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-menu-drop {
  
  // hide on mobile
  @media(max-width: 640px){
    display: block;
  }
  
  // tablet views
  @media(min-width: 641px){
    display: none;
  }
    
}