.an-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  // background: $white;
  padding: $padding-small $padding-medium;
  z-index: 1000;
  //border-bottom: 1px solid $color-primary;
  @include flex-space-between();
  justify-content: flex-end;
  @include an-box-shadow();
  height: 70px;
  color: #FFFFFF;
  background-color: #202e47;

  @media (max-width: 520px) {
    z-index: 1400;
  }

  .brand {
    position: relative;
    color: $font-color-white;
    font-size: $font-size-h4;
    img {
      width: 160px;
    }
  }

  .header-right {

    font-weight: 500;
    color: #FFFFFF;

    @include flex-center();
    > a {
      margin: 0 $margin-small 0 $margin-base;
    }
    button {
      padding: 0 !important;
    }
  }

  .header-left {
    position: relative;
    @include flex-center();
    .brand {
      margin-right: 40px;//$margin-base * 4 + 10;
    }

  }
  .menutbtn {
    padding: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
    i {

      @include transition();
    }

    &:hover {
      i {
        color: $color-primary;
      }
    }
  }
}

.material-icons {
  color: #757575;
}

.header-fullname{
  font-size: 14px;
  display: inline-flex;
  margin-left: 8px;
  font-weight: 500;
  color: #fff;
}

@media only screen and (max-width: 414px) {
  .header-fullname{
    display: none;
  }

  .readmin-sidebar .an-header .brand {
    margin-right: -10px !important;
  }

  .an-header .brand img {
    width: 120px;
  }
}